.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/admin/config'}
      %i.fa.fa-chevron-left
      Back to configuration

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1 Edit email header and footer

      %label{:for => 'header'} Header text
      %textarea#header.rich-editor{:name => 'header'}
        - if @header_entry && @header_entry.respond_to?(:value)
          &= @header_entry.value

      %div{:style => 'height:1em'}= ""

      %label{:for => 'footer'} Footer text
      %textarea#footer.rich-editor{:name => 'footer'}
        - if @footer_entry && @footer_entry.respond_to?(:value)
          &= @footer_entry.value

      %div{:style => 'height:1em'}= ""

      %button.pure-button.button.button-primary{:type => 'submit'}
        Save changes
