.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    .form-wrapped
      %h1 Mass email header and footer

      %a.pure-button.button.button-primary{:href => '/admin/config/email'}
        Edit mass email header and footer

    .form-wrapped
      %h1 Kaupapa prompt

      %a.pure-button.button.button-primary{:href => '/admin/config/kaupapa'}
        Edit kaupapa prompt

    .form-wrapped
      %h1 Signups and maintenance mode

      %form.pure-form.pure-form-stacked{:method => 'POST', :action => '/admin/config/toggle-signups'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

        - if @signups_enabled
          %button.pure-button.button.button-error{:type => 'submit'}
            Disable signups
        - else
          %button.pure-button.button.button-primary{:type => 'submit'}
            Enable signups

      %form.pure-form.pure-form-stacked{:method => 'POST', :action => '/admin/config/toggle-maintenance'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

        - if @maintenance_enabled
          %button.pure-button.button.button-primary{:type => 'submit'}
            Disable maintenance mode
        - else
          %button.pure-button.button.button-error{:type => 'submit'}
            Enable maintenance mode
