.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/admin/config'}
      %i.fa.fa-chevron-left
      Back to configuration

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'edit'}
      %h1 Edit kaupapa prompt

      %label{:for => 'text'} Kaupapa prompt text
      %textarea#text.rich-editor{:name => 'text'}
        - if @kaupapa_entry && @kaupapa_entry.respond_to?(:value)
          &= @kaupapa_entry.value

      %div{:style => 'height:1em'}= ""

      %button.pure-button.button.button-primary{:type => 'submit'}
        Save changes

    - if @kaupapa_entry
      %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %input{:type => 'hidden', :name => 'action', :value => 'disable'}
        %h1 Disable kaupapa prompt

        %p
          This will disable the kaupapa prompt and delete the text of the 
          kaupapa prompt from the system. If you wish to do this, please make a
          backup of the above text.

        %label{:for => 'disable-confirm'}
          %input#disable-confirm{:type => 'checkbox', :name => 'disable-confirm', :required => true}
          Check this box to continue

        %button.pure-button.button.button-error{:type => 'submit'}
          Disable
