.pure-g
  .pure-u-1.pure-u-md-1-4 &nbsp;
  .pure-u-1.pure-u-md-1-2
    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => "/auth/signup"}
      %h1 Sign up
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      - if @invite
        %input{:type => 'hidden', :name => 'invite', :value => @invite.token}

      - unless settings.extended_signup
        %p= t :sign_up_will_be_supporter, :org_name => org_name, :site_name => site_name

      %label{:for => "signup-email"}= t :email_address
      %input#signup-email{:type => "email", :name => "email", :required => true, :placeholder => t(:email_address)}

      %label{:for => "signup-password"}= t :password
      %input#signup-password{:type => "password", :name => "password", :required => true, :placeholder => t(:password), :'data-strength' => 'signup-password-strength'}
      %div#signup-password-strength.zxcvbn-result
        %div.zxcvbn-score-bar= ""
        %div.zxcvbn-score-text= ""
        %div.zxcvbn-warnings= ""
        %div.zxcvbn-suggestions= ""

      %label{:for => "signup-password-repeat"}= t :password_repeat
      %input#signup-password-repeat{:type => "password", :name => "password-repeat", :required => true, :placeholder => t(:password_repeat)}

      %button.pure-button.pure-button-primary{:type => "submit"}= t :sign_up
      %a.button.pure-button{:href => '/auth'}= t :sign_up_have_account_link

.async-load{:'data-sources' => JSON.generate(['/static/vendor/zxcvbn/dist/zxcvbn.js'])}
