%h1= "Welcome to #{site_name}!"

- unless @has_set_name
  .message.message-warning
    It looks like you haven't set up your profile. Please go to
    %a{:href => '/user'} your profile page
    and fill out the information there.

.pure-g
  .pure-u-1.pure-u-md-1-2
    .form-wrapped.pad-a-bit
      - if @mybranch && @branches[@mybranch]
        %h1= "Upcoming meetings for #{@branches[@mybranch][:name]}"

        - if @mymeetings.length > 0
          %ul.branch-admin-branch-upcoming-list
            - @mymeetings.each do |meeting|
              %li
                %a{:href => "/dashboard/meetings/#{meeting[:branch]}/#{meeting[:id]}"}
                  Meeting on
                  %strong= meeting[:datetime].strftime("%A, %-d %B %Y at %I:%M %P")

        - else
          %p No meetings within the next two weeks.

      - else
        %h1 Upcoming meetings for your branch

        %p
          You aren't a member of a branch.

  .pure-u-1.pure-u-md-1-2
    .form-wrapped.pad-a-bit
      %h1 Upcoming meetings in other branches

      - if @othermeetings.length > 0
        %ul.branch-admin-branch-upcoming-list
          - @othermeetings.each do |meeting|
            %li
              %a{:href => "/dashboard/meetings/#{meeting[:branch]}/#{meeting[:id]}"}
                Meeting for the
                %strong= @branches[meeting[:branch]][:name]
                branch, on
                %strong= meeting[:datetime].strftime("%A, %-d %B %Y at %I:%M %P")

      - else
        %p No meetings within the next two weeks.

  = theme_page_footer :'dashboard/index'
