.form-wrapped
  %h1
    = @branchname
    meeting on
    = @datetime.strftime("%A, %-d %B %Y")

  %p
    %strong Meeting time:
    = @datetime.strftime("%A, %-d %B %Y at %I:%M %P")

  %p
    %strong Meeting location:
    = @location

  %strong Meeting notes:
  .rich-text-container
    = @notes

%form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
  %h1 Send apologies

  - if @branch.id == @mybranch
    - if @at && @at.decrypt(:attendance_status) == "apologies"
      %p
        You have sent apologies for this meeting.

      %p
        If you can attend this meeting after all, you can still show up!

    - elsif @at && @at.decrypt(:attendance_status) == "present"
      %p
        You have been marked present for this meeting.

    - else
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'apologies'}

      %button.pure-button.button-primary{:type => 'submit'}
        Send apologies for this meeting

  - else
    %p
      You can't send apologies for this meeting as it's not for your home branch.
