.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= "Branch #{@branch.decrypt(:name)}"

    %a.pure-button{:href => '/admin/branch'}
      %i.fa.fa-chevron-left= ""
      Back to branch list

    .form-wrapped
      %h1 Search

      %a.pure-button.button.button-primary{:href => "/admin/branch/meetings/#{@branch.id.to_s}"}
        %i.fa.fa-list
        List branch meetings

      %form.form-wrapped{:method => 'GET', :action => '/admin/user/search'}
        %input{:type => 'hidden', :name => 'searchtype', :value => 'branch'}
        %input{:type => 'hidden', :name => 'query', :value => "#{@branch.id.to_s}:member"}

        %button.pure-button{:type => 'submit'}
          %i.fa.fa-search= ""
          List members of this branch

      %form.form-wrapped{:method => 'GET', :action => '/admin/user/search'}
        %input{:type => 'hidden', :name => 'searchtype', :value => 'branch'}
        %input{:type => 'hidden', :name => 'query', :value => "#{@branch.id.to_s}:supporter"}

        %button.pure-button{:type => 'submit'}
          %i.fa.fa-search= ""
          List supporters of this branch
      %form.form-wrapped{:method => 'POST'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %input{:type => 'hidden', :name => 'action', :value => 'export'}
        %button.pure-button.button{:type => 'submit'}
          %i.fa.fa-envelope
          Email export of branch attendance


    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %h1 Edit branch

      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'edit'}

      %label{:for => 'name'} Branch name
      %input#name{:name => 'name', :type => 'text', :placeholder => "Branch name", :value => @branch.decrypt(:name), :required => true}

      %button.pure-button.button-primary{:type => 'submit'}
        %i.fa.fa-pencil= ""
        Edit branch

