.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Branches

    %a.pure-button.button-primary{:href => '/admin/branch/new'}
      %i.fa.fa-plus= ""
      New branch

    %ul.admin-branch-list
      - @branches.each do |b|
        %li.admin-branch
          %a{:href => "/admin/branch/edit/#{b[:id]}"}
            = b[:name]
