.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1 New branch

      %label{:for => "name"} Branch name
      %input#name{:type => "text", :name => "name", :required => true, :placeholder => "Branch name"}

      %button.pure-button.button-primary{:type => "submit"}
        %i.fa.fa-plus= ""
        Create new branch
