.pure-g
  .pure-u-1
    %h1= @title

    %a.pure-button.button{:href => "/group"}
      %i.fa.fa-chevron-left
      Back to group list

    .form-wrapped
      %h1 Membership
      %ul.membership-admin-group-members
        - @members.each do |userid, minfo|
          %li
            .membership-admin-group-member-info
              %p
                %span= minfo[:name]

                - if minfo[:admin]
                  %span.badge admin

                - if userid == @user.id
                  %span.badge
                    %i.fa.fa-user
                    = t :thats_you

              %p
                %strong Email:
                %span= minfo[:email] || 'unknown'

              %p
                %strong Branch:
                %span
                  - if minfo[:branch]
                    = minfo[:branch][:name]
                  - else
                    Unknown

            .membership-admin-group-member-actions
              - unless userid == @user.id
                %form{:method => 'POST', :style => 'display:inline-block'}
                  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                  %input{:type => 'hidden', :name => 'action', :value => "user_remove"}
                  %input{:type => 'hidden', :name => 'user', :value => userid}
                  %button.pure-button.button.button-error{:type => 'submit'}
                    %i.fa.fa-trash
                    Remove user

              %form{:method => 'POST', :style => 'display:inline-block'}
                %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                %input{:type => 'hidden', :name => 'action', :value => "user_promote"}
                %input{:type => 'hidden', :name => 'user', :value => userid}

                - if minfo[:admin]
                  %button.pure-button{:type => 'submit'}
                    %i.fa.fa-arrow-down
                    Demote user
                - else
                  %button.pure-button{:type => 'submit'}
                    %i.fa.fa-arrow-up
                    Promote user to admin

    #group-admin-actions.form-wrapped
      %h1 Actions

      %a.pure-button.button{:href => "/group/adduser/#{@group.id}"}
        %i.fa.fa-plus
        Add user
