.pure-g
  .pure-u-1
    %h1= @title

    - @groups_by_type.each do |type, groups|
      .form-wrapped
        %h1
          - if type == "caucus"
            Caucuses
          - elsif type == "working_group"
            Working groups
          - else
            Unknown group type #{type.inspect}

        %ul.usersettings-available-groups
          - groups.each do |cid, c|
            %li
              %a{:href => c[:link]}
                = c[:name]

                - unless c [:is_joinable]
                  %span{:title => "This is a secret group."}
                    %i.fa.fa-lock
