.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Application configuration

    %a.pure-button.button{:href => '/system/debug'}
      %i.fa.fa-chevron-left
      Back

    .system-debug-list-container
      %ul.system-debug-list
        - @appconfig.each do |k, v|
          %li
            %strong
              &= k

            %code
              = "=>"

            %code
              &= v
