.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Debug info

    .form-wrapped.debug-user
      %h1 Current user
      .system-debug-list-container
        %ul.system-debug-list
          %li
            %strong= "uid: "
            %code= current_user.id
          %li
            %strong= "Roles: "
            %code
              - t = current_user.get_roles
              - if t.length > 0
                = t.join(', ')
              - else
                = 'none'

    .form-wrapped.debug-session
      %h1 Session
      .system-debug-list-container
        %ul.system-debug-list
          - session.keys.each do |k|
            %li
              %strong
                &= "#{k}: "
              %code
                &= session[k].inspect

    .form-wrapped.debug-app-config
      %h1 Application configuration
      %a.pure-button.button.button-primary{:href => "/system/debug/appconfig"}
        View

    %form.pure-form.pure-form-stacked.form-wrapped.debug-flash{:method => "POST"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1 Flashes

      %label{:for => 'flash-types'} Type of flash
      %select#flash-types{:name => 'flash'}
        %option{:value => 'success'} success
        %option{:value => 'warning'} warning
        %option{:value => 'error'} error

      %button.pure-button.button-primary{:type => "submit"} Go

    %form.pure-form.pure-form-stacked.form-wrapped.debug-alerts{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1 Alerts

      %label{:for => 'alert-sections'} Alert section
      %select#alert-sections{:name => 'alert'}
        %option{:value => 'membership'} Membership 
        %option{:value => 'system'} System

      %label{:for => 'alert-empty'}
        %input#alert-empty{:type => 'checkbox', :name => 'alert-empty'}
        Generate empty alert

      %button.pure-button.button-primary{:type => "submit"} Send alert
