.pure-g
  .pure-u-1.pure-u-md-1-4= ""
  .pure-u-1.pure-u-md-1-2
    .form-wrapped.pad-a-bit
      %h1= t(:account_disabled)

      %p= t(:account_disabled_message)

      %p
        = t(:account_disabled_reason)

        %span
          &= @reason

      %p
        %a.button.pure-button{:href => '/auth/logout'}
          = t(:log_out)
