.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= "Editing roles for user #{@user.id} (#{@user_name})"

    - unless @has_2fa
      .message.message-error
        This user does not have two-factor authentication enabled, you should not assign roles to this user!

    = haml :'system/grant/role_list'

    .form-wrapped
      %h1 Current roles

      %ul.system-grant-edit-role-list
        - @user.get_roles.each do |r|
          %li.system-grant-edit-role
            %form{:style => 'display:inline-block;', :method => "POST"}
              %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
              %input{:type => "hidden", :name => "action", :value => "delete"}
              %input{:type => "hidden", :name => "uid", :value => @user.id.to_s}
              %input{:type => "hidden", :name => "role", :value => r}

              %button.pure-button.button-error{:type => 'submit'}
                %i.fa.fa-trash= ''

            %code.role= r

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => "hidden", :name => "action", :value => "add"}
      %input{:type => "hidden", :name => "uid", :value => @user.id.to_s}
      %h1 Add a role

      %label{:for => "role-input"} Role to add
      %input#role-input{:type => "text", :name => "role"}

      %button.pure-button.button-primary{:type => "submit"}
        %i.fa.fa-plus= ""
        Add

