.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Role management

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'GET', :action => '/system/grant/list'}
      %h1 List users with roles

      .fieldswitch
        %label{:for => 'list-type'} Type of search
        %select#list-type.fieldswitch-select{:name => 'type'}
          %option{:value => 'all'} All users with roles
          %option{:value => 'role'} Specific role
          %option{:value => 'uid'} User ID

        .fieldswitch-field{:'data-type' => 'role'}
          %label{:for => 'list-role'} Role
          %input#list-role{:type => 'text', :name => 'role'}

        .fieldswitch-field{:'data-type' => 'uid'}
          %label{:for => 'list-uid'} User ID
          %input#list-uid{:type => 'text', :name => 'uid'}

      %button.button.pure-button.button-primary{:type => 'submit'}
        %i.fa.fa-list= ""
        List

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'GET', :action => '/system/grant/edit'}
      %h1 Edit roles for user

      %label{:for => 'edit-uid'} User ID to modify
      %input#edit-uid{:type => 'text', :name => 'uid', :value => current_user.id.to_s}

      %button.button.pure-button.button-primary{:type => 'submit'}
        %i.fa.fa-pencil= ""
        Edit user
