.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Listing users

    %p
      Search criteria:
      %code= @criteria

    %ul.system-grant-user-list
      - @users.each do |_, u|
        %li.system-grant-user
          %form{:style => 'display:inline-block;', :method => "GET", :action => '/system/grant/edit'}
            %input{:type => "hidden", :name => "uid", :value => u[:user].id.to_s}
            %button.pure-button{:type => 'submit'}
              %i.fa.fa-pencil= ''

          %strong= "#{u[:user].id.to_s} (#{u[:name]}) = "
          %code.roles= u[:roles].map(&:role).join(', ')

