.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button{:href => "/admin/branch/meetings/#{@branch.id}/#{@meeting[:id]}"}
      %i.fa.fa-chevron-left
      = t :back

    - if @attendance.empty?
      .message.message-error= t :'admin/meeting_attendance_empty'

    - else
      %form{:method => 'POST', :action => "/admin/branch/meetings/attendance/#{@branch.id}/#{@meeting[:id]}/export", :style => 'display:inline-block'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %button.pure-button.button.button-primary{:type => 'submit'}
          %i.fa.fa-envelope
          = t :'admin/email_export'

      %ul.membership-admin-attendance-list
        - @attendance.each do |entry|
          %li
            %strong= "#{t :full_name}:"
            = entry[:name]

            %br

            %strong= "#{t :'attendance/status'}:"
            = entry[:status]
