.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button{:href => "/admin/branch/meetings/#{@branch.id}"}
      %i.fa.fa-chevron-left
      = t :back

    %form.pure-form.pure-form-stacked.form-wrapped
      %h1= t :'meeting/details'

      %label{:for => 'details-location'}= t :'meeting/location'
      %input#details-location{:readonly => true, :value => @meeting[:location]}

      %label{:for => 'details-notes'}= t :'meeting/notes'
      #details-notes.rich-text-container
        = @meeting[:notes]

    .form-wrapped
      %h1= t :actions

      %a.pure-button.button.button-primary{:href => "/admin/branch/meetings/attendance/#{@branch.id}/#{@meeting[:id]}"}
        %i.fa.fa-list
        = t :'meeting/view_attendance'
