.button,
.pure-button
{
  &.button-primary
  {
    color: #fff;
    background-color: #0078e7;
  }

  &.button-success
  {
    color: $symbolic_success_foreground;
    background: $symbolic_success_background;
  }

  &.button-warning
  {
    color: $symbolic_warning_foreground;
    background: $symbolic_warning_background;
  }

  &.button-error
  {
    color: $symbolic_error_foreground;
    background: $symbolic_error_background;
  }
}
