.membership-admin-import-data-list
{
  .membership-admin-import-data-user
  {
    display: block;
    border-bottom: 1px solid #000;
    padding: .5em 0;
    margin: 0;
  }
}

.membership-admin-group-members
{
  li
  {
    .membership-admin-group-member-info
    {
      p
      {
        padding: 0;
        margin: 0 0 .25em 0;
      }
    }

    .membership-admin-group-member-actions
    {
      margin: .25em 0 0 0;
    }
  }
}
