.system-config-list-entry
{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  margin: .25em 0;

  .system-config-list-edit-form
  {
    margin: 0 0 0 .5em;
    display: inline-block;

    button
    {
      margin: 0 !important;
    }
  }
}
