.branch-admin-index-branch-list
{
  padding: 0 0 0 1em;
  margin: 0;

  li
  {
    padding: 0;
    margin: 0 0 1em 0;

    .branch-admin-index-branch-info,
    .branch-admin-index-branch-actions
    {
      display: block;
      margin: 0 0 .25em 0;
    }
  }
}

.branch-admin-members
{
  .branch-admin-members-actions
  {
    margin: 0 0 1em 0;
  }

  .branch-admin-members-list
  {
    padding: 0;
    margin: 1em 0;
    list-style: none outside none;

    & > li
    {
      display: block;
      margin: 0 0 .5em 0;
      list-style: none outside none;
    }

    .branch-admin-members-list-data
    {
      margin: 0 0 1em 2.5em;

      ul
      {
        padding: 0;
        margin: .5em 0;
        list-style-position: inside;
      }
    }
  }
}

.branch-admin-meetinglist
{
  .branch-admin-meetinglist-list
  {
    li
    {
      .branch-admin-meetinglist-item-actions
      {
        margin: .5em 0;
      }
    }
  }
}

.branch-admin-meeting-attendance
{
  .branch-admin-meeting-attendance-user
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: .5em .5em 0 .5em;
    margin: .5em 0;

    @media screen and (min-width: $responsive_width)
    {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding: 0 .5em;
      margin: .375em 0;
    }

    &:nth-child(2n)
    {
      background: rgba(0, 0, 0, 0.1);
    }

    .branch-admin-meeting-attendance-user-status
    {
      margin: 1em 0 0 0;
      width: 100%;

      @media screen and (min-width: $responsive_width)
      {
        margin: .375em 0 0 0;
        width: 300px;
      }
    }
  }
}
