/* General variables */
$responsive_width: 48em;
$font_stack: sans-serif;

/* Body */
$body_foreground: #000;
$body_background: #fff;
$body_link: #25b;
$body_dimmed: #777;

/* Navbar */
$navbar_foreground: #777;
$navbar_background: #f2f2f2;
$navbar_border: #ccc;
$navbar_hover_foreground: $navbar_foreground;
$navbar_hover_background: #fff;
$navbar_selected_foreground: #000;
$navbar_selected_background: #fff;

/* Badges */
$badge_foreground: $navbar_foreground;
$badge_background: $navbar_background;
$badge_border: $navbar_border;

/* Sidebar menus */
$menu_foreground: $navbar_foreground;
$menu_background: $navbar_background;
$menu_selected_foreground: $navbar_selected_foreground;
$menu_selected_background: $navbar_selected_background;

/* Symbolic colors */
$symbolic_success_background: #0b0;
$symbolic_success_foreground: #dfb;
$symbolic_success_border: #12e512;

$symbolic_warning_background: #fec;
$symbolic_warning_foreground: #860;
$symbolic_warning_border: #fea;

$symbolic_error_background: #b00;
$symbolic_error_foreground: #fcc;
$symbolic_error_border: #e51212;
