@import 'variables';

*,
*:before,
*:after
{
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"]
{
  font-family: $font_stack;
}

@import 'navbar';
@import 'body';
@import 'body_sidebar';
@import 'message';
@import 'button';
@import 'form';
@import 'badge';
@import 'rich_text';
@import 'admin_alert';
@import 'body_footer';

/* zxcvbn */
@import 'zxcvbn';

/* Section-specific styles */
@import 'section_system';
@import 'section_usersettings';
@import 'section_membership_admin';
@import 'section_branch_admin';
@import 'section_mass_email';

/* Utility classes */
.pad-a-bit
{
  padding: 1em;
}

.small
{
  font-size: 0.8em;
}

.dimmed
{
  color: $body_dimmed !important;
}
