.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= t :alerts
    = haml :'alerts/grouped'

    .form-wrapped
      %a.pure-button{:href => '/admin/alerts/page/1'}
        %i.fa.fa-list= ""
        = t :alerts_dismissed
