.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= t :'alerts_dismissed'

    = haml :'alerts/page'

    .form-wrapped
      - prevpage = "/admin/alerts/page/#{@alerts[:alerts][:page] - 1}"
      %a.pure-button{:href => @alerts[:alerts][:page] > 1 ? prevpage : '#', :disabled => @alerts[:alerts][:page] <= 1}
        %i.fa.fa-chevron-left= ""
        = t :'page/previous'

      %span= t :'page/count', :current => @alerts[:alerts][:page], :total => @alerts[:alerts][:total_pages]

      - nextpage = "/admin/alerts/page/#{@alerts[:alerts][:page] + 1}"
      %a.pure-button{:href => @alerts[:alerts][:page] < @alerts[:alerts][:total_pages] ? nextpage : '#', :disabled => @alerts[:alerts][:page] >= @alerts[:alerts][:total_pages]}
        %i.fa.fa-chevron-right= ""
        = t :'page/next'
