.form-wrapped.pad-a-bit
  %h1 Maintenance mode

  %p
    = "#{site_name} is currently down for maintenance."
    Please check back later.

.body-footer
  - unless logged_in?
    %a{:href => "/auth"} Admin login
