- if @alerts[:alerts] == nil || @alerts[:alerts].length == 0
  %p No alerts!

- else
  - @alerts[:alerts].each_key do |typekey|
    %h2= @alerts[:alerts][typekey][:name]
    %ul.admin-alert-list{:'data-type' => @alerts[:alerts][typekey][:code]}
      - @alerts[:alerts][typekey][:alerts].each do |alert|
        %li
          .admin-alert
            .admin-alert-user
              Alert from:
              - if alert[:user]
                - if current_prefix?("/admin")
                  %a{:href => "/admin/user/edit/#{alert[:user].id}"}
                    %strong= alert[:profile].decrypt(:full_name).force_encoding("UTF-8")
                    %span.uid= "(id #{alert[:user].id})"
                - else
                  %strong= alert[:profile].decrypt(:full_name).force_encoding("UTF-8")
                  %span.uid= "(id #{alert[:user].id})"

              - else
                no user specified

            .admin-alert-time
              %span.admin-alert-time-created
                Alert created:
                %time.admin-alert-time-created-ts{:datetime => alert[:created].iso8601}
                  = pretty_time_ago alert[:created]

              - if alert[:actioned]
                %span.admin-alert-time-dismissed
                  Alert dismissed:
                  %time.admin-alert-time-dismissed-ts{:datetime => alert[:actioned_ts].iso8601}
                    = pretty_time_ago alert[:actioned_ts]

            .admin-alert-data
              - if [:test, :config_change, :role_edit, :data_correction, :admin_force_edit_user].include? typekey
                Message:
                %span
                  &= alert[:data].force_encoding("UTF-8")

              - elsif typekey == :user_status_change_req
                - d = JSON.parse(alert[:data])
                Status change request:
                %span
                  from
                  %strong= d["from_status"].force_encoding("UTF-8")
                  to
                  %strong= d["to_status"].force_encoding("UTF-8")

              - elsif typekey == :user_branch_change_req
                - d = JSON.parse(alert[:data])
                Branch change request:
                %span
                  from
                  %strong= d["from_branch"].force_encoding("UTF-8")
                  %span= "(id #{d["from_branch_id"]})".force_encoding("UTF-8")
                  to
                  %strong= d["to_branch"].force_encoding("UTF-8")
                  %span= "(id #{d["to_branch_id"]})".force_encoding("UTF-8")

              - else
                Raw alert data:
                %code
                  &= alert[:data].inspect.force_encoding("UTF-8")

            - unless @alerts[:dismissed]
              %form.admin-alert-dismiss{:method => "POST", :action => @alerts[:dismiss_action]}
                %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                %input{:type => "hidden", :name => 'action', :value => 'dismiss'}
                %input{:type => "hidden", :name => 'alertid', :value => alert[:alertid]}
                %button.pure-button.button-success{:type => 'submit'}
                  %i.fa.fa-check= ''
                  Dismiss alert
