.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => "/user/group"}
      %i.fa.fa-chevron-left
      Back to group list

    .form-wrapped
      %h1 Summary

      %p
        = "#{@group_hash[:name]} has #{@group_hash[:member_count]} members."

      %p
        %strong Group description:
        = @group_hash[:description]

    .form-wrapped
      %h1 Actions

      - if @group_hash[:user_membership][:admin]
        %a.pure-button.button.button-primary{:href => "/group/edit/#{@group_hash[:id]}"}
          %i.fa.fa-pencil
          Edit group

      %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %input{:type => 'hidden', :name => 'action', :value => 'leave'}

        %button.pure-button.button.button-error{:type => 'submit'}
          %i.fa.fa-times
          Leave group
