.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Groups

    - if @groups.empty?
      .form-wrapped
        %h1 Your groups
        %p
          You are not a member of any groups.

    - else
      - @groups.each do |type, groups|
        .form-wrapped
          %h1
            - if type == "caucus"
              Caucuses
            - elsif type == "working_group"
              Working groups
            - else
              Unknown group type #{type.inspect}

          %ul.user-settings-my-groups
            - groups.each do |cid, c|
              %li
                %a{:href => c[:link]}
                  = c[:name]

                  - if c[:user_membership] && c[:user_membership][:admin]
                    %span{:title => "You are an administrator of this group."}
                      %i.fa.fa-star

                  - unless c [:is_joinable]
                    %span{:title => "This is a secret group."}
                      %i.fa.fa-lock

    .form-wrapped
      %h1 Join a group

      %a.pure-button.button.button-primary{:href => '/user/group/join'}
        See a list of groups you can join
