.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Join group #{@group_hash[:name]}

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'group', :value => @group_hash[:id]}
      %input{:type => 'hidden', :name => 'action', :value => 'do-join'}

      %h1
        - if @group_hash[:agreement] == ""
          Confirmation
        - else
          Agreement

      - if @group_hash[:agreement] == ""
        %p
          Click the button below to join the group #{@group_hash[:name]}.

      - else
        %p
          To join the group #{@group_hash[:name]}, you must agree to the
          following:

        %p
          = @group_hash[:agreement]

        %label{:for => "group-agreement-ok"}
          %input#group-agreement-ok{:type => 'checkbox', :name => 'agreement-ok', :required => true}
          I agree to the above

      %button.pure-button.button.button-primary{:type => 'submit'}
        Join group

      %a.pure-button.button{:href => request.path}
        Back to group list
