.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Joinable groups

    %a.pure-button.button{:href => '/user/group'}
      %i.fa.fa-chevron-left
      Back to your groups

    - if @joinable_groups.empty?
      .form-wrapped
        %h1 Joinable groups

        %p
          There are no joinable groups.

    - else
      - @joinable_by_type.each do |type, groups|
        .form-wrapped
          %h1
            - if type == "caucus"
              Caucuses
            - elsif type == "working_group"
              Working groups
            - else
              Unknown group type #{type.inspect}

          %ul.usersettings-available-groups
            - groups.each do |cid, c|
              %li
                .usersettings-available-group-header
                  %strong= c[:name]
                  %form{:method => 'POST'}
                    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                    %input{:type => 'hidden', :name => 'group', :value => c[:id]}
                    %input{:type => 'hidden', :name => 'action', :value => "confirmation"}

                    %button.pure-button.button.button-primary{:type => 'submit'}
                      %i.fa.fa-plus
                      Join this group

                .usersettings-available-group-description
                  = c[:description]
