.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Account settings

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1 Change email address
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'change-email'}

      %label{:for => 'email'} Email address
      %input#email{:type => 'email', :name => "email", :placeholder => "Email address", :required => true, :value => current_user.email}

      %label{:for => 'password-changeemail'} Current password
      %input#password-changeemail{:type => 'password', :name => 'password', :placeholder => "Password", :required => true}

      %button.pure-button.pure-button-primary{:type => "submit"} Change email address

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1 Change password
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'change-password'}

      %p
        This will log you out of all current sessions.

      %label{:for => 'currentpassword'} Current password
      %input#currentpassword{:type => 'password', :name => 'password', :placeholder => "Password", :required => true}

      %label{:for => 'newpass1'} New password
      %input#newpass1{:type => 'password', :name => 'newpass', :placeholder => "New password", :required => true, :'data-strength' => 'pwchange-strength'}
      %div#pwchange-strength.zxcvbn-result
        %div.zxcvbn-score-bar= ""
        %div.zxcvbn-score-text= ""
        %div.zxcvbn-warnings= ""
        %div.zxcvbn-suggestions= ""

      %label{:for => 'newpass2'} New password (confirm)
      %input#newpass2{:type => 'password', :name => 'newpass-confirm', :placeholder => "New password", :required => true}

      %button.pure-button.pure-button-primary{:type => "submit"} Change password

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1 Delete account
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'delete-account'}

      %p
        Deleting your account is permanent, and will remove all information held
        about you from the system.

      %label{:for => 'deleteconfirm'}
        %input#deleteconfirm{:type => 'checkbox', :name => 'confirm', :required => true}
        Check this box to confirm you wish to delete your account

      %button.pure-button.button-error{:type => 'submit'} Delete account

.async-load{:'data-sources' => JSON.generate(['/static/vendor/zxcvbn/dist/zxcvbn.js'])}
