%ul.page-sidebar
  %li.page-sidebar-item{:class => ("page-sidebar-selected" if current?("/user"))}
    %a.page-sidebar-link{:href => "/user"} My profile
  %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/user/membership"))}
    %a.page-sidebar-link{:href => "/user/membership"} Membership
  %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/user/group"))}
    %a.page-sidebar-link{:href => "/user/group"} Groups
  %li.page-sidebar-item{:class => ("page-sidebar-selected" if current?("/user/account"))}
    %a.page-sidebar-link{:href => "/user/account"} Account settings
  %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/user/twofactor"))}
    %a.page-sidebar-link{:href => "/user/twofactor"} Two-factor authentication

