.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 User ID

    %p
      If you are asked by your administrator to provide your user ID, please
      give them this number:

    %p{:style => 'text-align:center;font-size:1.25em'}
      %code= current_user.id
