.branch-admin-meeting-attendance
  %h1
    Meeting attendance:
    = @datetime.strftime("%A, %-d %B %Y")

  %a.pure-button{:href => "/branch/meetings/#{@branch.id}/#{@meeting.id}"}
    %i.fa.fa-chevron-left= ""
    Back to meeting details

  %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %h1 Attendance

    - @users.each do |u|
      .branch-admin-meeting-attendance-user
        .branch-admin-meeting-attendance-user-name
          %div
            %strong= u[:name]
          %div
            %a.dimmed.small{:href => "/branch/userattendance/#{@branch.id}/#{u[:uid]}"}
              %i.fa.fa-list= ""
              See this user's attendance history

        .branch-admin-meeting-attendance-user-status
          %select{:name => "attendance-#{u[:uid]}", :id => "attendance-#{u[:uid]}"}
            %option{:value => "unknown", :selected => u[:status] == :unknown} Unknown
            %option{:value => "present", :selected => u[:status] == :present} Present
            %option{:value => "apologies", :selected => u[:status] == :apologies} Apologies

    %label{:for => 'guests'}
      Guests in attendance at this meeting
    %textarea#guests{:name => 'guests'}= @guests

    %button.button.pure-button.button-primary{:type => "submit"}
      %i.fa.fa-check-square-o= ""
      Save changes
