.branch-admin-meetinglist
  %h1= "Branch meetings: #{@branchname}"

  .branch-admin-meetinglist-actions
    %a.pure-button{:href => "/branch/#{@branch.id}"}
      %i.fa.fa-chevron-left= ""
      Back to branch

    %a.pure-button.button-success{:href => "/branch/meetings/#{@branch.id}/new"}
      %i.fa.fa-plus= ""
      Create new meeting

  %ul.branch-admin-meetinglist-list
    - @meetings.each do |meeting|
      %li
        .branch-admin-meetinglist-item-title
          Meeting on
          %strong= meeting[:datetime].strftime("%A, %-d %B %Y at %I:%M %P")

        .branch-admin-meetinglist-item-actions
          %a.pure-button.button-primary{:href => "/branch/meetingattendance/#{@branch.id}/#{meeting[:id]}"}
            %i.fa.fa-check-square-o= ""
            Attendance

          %a.pure-button{:href => "/branch/meetings/#{@branch.id}/#{meeting[:id]}"}
            %i.fa.fa-pencil= ""
            Edit

  .form-wrapped
    - prevpage = "/branch/meetings/#{@branch.id}?page=#{@current_page - 1}"
    %a.pure-button{:href => @current_page > 1 ? prevpage : '#', :disabled => @current_page <= 1}
      %i.fa.fa-chevron-left= ""
      Previous page

    %span
      Page
      %strong= @current_page
      of
      %strong= @total_pages

    - nextpage = "/branch/meetings/#{@branch.id}?page=#{@current_page + 1}"
    %a.pure-button{:href => @current_page < @total_pages ? nextpage : '#', :disabled => @current_page >= @total_pages}
      %i.fa.fa-chevron-right= ""
      Next page
