.branch-admin-meeting
  %h1
    Meeting on
    = @datetime.strftime("%A, %-d %B %Y")

  %a.pure-button{:href => "/branch/meetings/#{@branch.id}"}
    %i.fa.fa-chevron-left= ""
    Back to branch meetings

  .form-wrapped
    %h1 Meeting actions

    %a.button.pure-button.button-primary{:href => "/branch/meetingattendance/#{@branch.id}/#{@meeting.id}"}
      %i.fa.fa-check-square-o= ""
      Attendance

  %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %input{:type => 'hidden', :name => 'action', :value => "edit"}
    %h1 Edit meeting

    %label{:for => 'date'} Meeting date
    %input#date{:type => 'date', :name => 'date', :required => true, :value => @date}

    %label{:for => 'time'} Meeting time
    %input#time{:type => 'time', :name => 'time', :required => true, :value => @time}

    %label{:for => 'location'} Meeting location
    %input#location{:type => 'text', :name => 'location', :placeholder => 'Meeting location', :required => true, :value => @location}

    %label{:for => 'notes'} Meeting notes
    %textarea#notes.rich-editor{:name => 'notes'}
      &= @notes

    %button.pure-button.button-primary{:type => 'submit'}
      %i.fa.fa-pencil= ""
      Edit meeting

  %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %input{:type => 'hidden', :name => 'action', :value => "delete"}
    %h1 Delete meeting

    %label{:for => 'delete-confirm'}
      %input#delete-confirm{:type => 'checkbox', :name => 'confirm', :required => true}
      Check this box to confirm this change

    %button.pure-button.button-error{:type => 'submit'}
      %i.fa.fa-trash= ""
      Delete meeting
