.branch-admin-newmeeting
  %h1= "New meeting for #{@branchname}"

  %a.pure-button{:href => "/branch/#{@branch.id}"}
    %i.fa.fa-chevron-left= ""
    Back to branch

  %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %h1 Meeting information

    %label{:for => 'date'} Meeting date
    %input#date{:type => 'date', :name => 'date', :required => true, :value => @date}

    %label{:for => 'time'} Meeting time
    %input#time{:type => 'time', :name => 'time', :required => true, :value => @time}

    %label{:for => 'location'} Meeting location
    %input#location{:type => 'text', :name => 'location', :placeholder => 'Meeting location', :required => true, :value => @location}

    %label{:for => 'notes'} Meeting notes
    %textarea#notes.rich-editor{:name => 'notes'}
      &= @notes

    %div{:style => 'height:1em'}= ""

    %label{:for => 'send-email'}
      %input#send-email{:type => 'checkbox', :name => 'send-email', :checked => true}
      Send reminder email to all members of this branch

    %button.pure-button.button-primary{:type => 'submit'}
      %i.fa.fa-check= ""
      Create meeting
