.pure-g
  .pure-u-1
    %h1= @title

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'user', :value => @add_user[:uid]}
      %h1 Add user

      %p
        You are about to add #{@add_user[:name]} (user ID #{@add_user[:uid]}) to this group.

      %p
        Please confirm the user's details match what you expect:

      %ul
        %li
          %strong Name:
          %span= @add_user[:name] 
        %li
          %strong Branch:
          %span= @add_user[:branch]
        %li
          %strong Email:
          %span= @add_user[:email]

      %label{:for => 'do-add'}
        %input#do-add{:type => 'checkbox', :name => 'do-add', :required => true}
        The user information is correct

      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-plus
        Add user

      %a.pure-button.button{:href => "/group/edit/#{@group.id}"}
        Cancel
