.pure-g
  .pure-u-1
    %h1= @title

    %a.pure-button.button{:href => "/group/edit/#{@group_hash[:id]}"}
      %i.fa.fa-chevron-left
      Back to group

    %form#group-admin-add-member-form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1 Add member

      %label{:for => "group_add_user"} User ID to add
      %input#group_add_user{:type => 'text', :name => 'user', :placeholder => "User ID"}
      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-plus
        Add user
