.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button.button-primary{:href => @new_uri}
      %i.fa.fa-plus
      Queue new job

    .form-wrapped
      %h1 Filters

      %form{:method => 'GET', :style => 'display:inline-block'}
        %input{:type => 'hidden',  :name => 'status', :value => 'queued'}
        %button.pure-button{:type => 'submit'}
          %i.fa.fa-list
          Queued

      %form{:method => 'GET', :style => 'display:inline-block'}
        %input{:type => 'hidden', :name => 'status', :value => 'running'}
        %button.pure-button{:type => 'submit'}
          %i.fa.fa-play
          Running

      %form{:method => 'GET', :style => 'display:inline-block'}
        %input{:type => 'hidden', :name => 'status', :value => 'finished'}
        %button.pure-button{:type => 'submit'}
          %i.fa.fa-check
          Finished

    .form-wrapped
      %h1
        Page #{@current_page}
        of #{@total_pages}
        for #{@status} jobs

      %ul.system-work-queue-list
        - @tasks.each do |m|
          %li
            %span
              Job #{m[:id]}:

            %code
              &= "#{m[:task]} => #{m[:data]}"

            %ul.system-work-queue-item-data
              %li
                %strong Scheduled run time:
                %time.system-work-queue-scheduled{:datetime => m[:run_at].iso8601, :title => m[:run_at].iso8601}
                  = pretty_time_ago m[:run_at]

              %li
                %strong Created:
                %time.system-work-queue-created{:datetime => m[:created].iso8601, :title => m[:created].iso8601}
                  = pretty_time_ago m[:created]

              - if ['running', 'finished'].include? m[:status]
                %li
                  %strong Started:
                  %time.system-work-queue-created{:datetime => m[:started].iso8601, :title => m[:started].iso8601}
                    = pretty_time_ago m[:started]

              - if m[:status] == 'finished'
                %li
                  %strong Finished:
                  %time.system-work-queue-created{:datetime => m[:finished].iso8601, :title => m[:finished].iso8601}
                    = pretty_time_ago m[:finished]
                  %span= "(run time #{m[:finished] - m[:started]}s)"

                %li
                  %a{:href => m[:log_uri]}
                    View log

      .form-wrapped
        - prevpage = "/system/workqueue/?page=#{@current_page - 1}&status=#{@status}"
        %a.pure-button{:href => @current_page > 1 ? prevpage : '#', :disabled => @current_page <= 1}
          %i.fa.fa-chevron-left= ""
          = t :'page/previous'

        %span= t :'page/count', :current => @current_page, :total => @total_pages

        - nextpage = "/system/workqueue/?page=#{@current_page + 1}&status=#{@status}"
        %a.pure-button{:href => @current_page < @total_pages ? nextpage : '#', :disabled => @current_page >= @total_pages}
          %i.fa.fa-chevron-right= ""
          = t :'page/next'
