.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => @back}
      %i.fa.fa-chevron-left
      Back to job list

    .form-wrapped
      %p= ""
      %textarea{:readonly => true, :style => 'width:100%;height:10em'}
        &= @log
