.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => @back}
      %i.fa.fa-chevron-left
      Back to job list

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'back', :value => @back}

      %h1 Job info

      %label{:for => 'queue-job-type'} Job type
      %select#queue-job-type{:name => 'type', :required => true}
        - @tasks.keys.each do |k|
          %option{:value => k.to_s}= k.to_s

      %label{:for => 'queue-job-data'} Job data (leave blank for none)
      %input#queue-job-data{:type => 'text', :name => 'data'}

      - now = Time.now
      %h1 Timing

      %label{:for => 'queue-job-date'} Date to run at
      %input#queue-job-date{:name => 'date', :type => 'date', :required => true, :value => now.strftime("%Y-%m-%d")}

      %label{:for => 'queue-job-time'} Time to run at
      %input#queue-job-time{:name => 'time', :type => 'time', :required => true, :value => now.strftime("%H:%M")}

      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-check
        Queue
