.form-wrapped
  %h1 Confirm email sending
  %p
    - target = @targets.select{|x| x[:target] == @selected}.first
    - if target[:type] == :branch
      - if target[:membership_status] == :member
        = "You are about to send an email to #{target[:count]} members of the branch #{target[:branch]}."
      - else
        = "You are about to send an email to #{target[:count]} supporters of the branch #{target[:branch]}."
    - else
      = "You are about to send an email to #{target[:count]} users."

  %p
    Subject:
    %strong= @subject

  %p
    Email content:

    .mass-email-preview.rich-text-container
      = @text

%form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'reedit', :value => "on"}
  %input{:type => 'hidden', :name => 'target', :value => @selected}
  %input{:type => 'hidden', :name => 'subject', :value => @subject}
  %input{:type => 'hidden', :name => 'text', :value => @text}

  %button.pure-button{:type => 'submit'}
    %i.fa.fa-pencil= ""
    Modify email

%form.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => "/massemail/send"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'target', :value => @selected}
  %input{:type => 'hidden', :name => 'subject', :value => @subject}
  %input{:type => 'hidden', :name => 'text', :value => @text}

  %button.pure-button.button-primary{:type => 'submit'}
    %i.fa.fa-envelope= ""
    Send email
