%form.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => '/massemail'}
  %h1 Send an email
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

  %label{:for => "target"}
    Recipients

  %select{:name => 'target', :required => true}
    - @targets.each do |t|
      %option{:value => t[:target], :selected => t[:target] == @selected}
        = "#{t[:name]} (#{t[:count]} members)"

  %label{:for => 'subject'}
    Subject

  %input#subject{:type => 'text', :name => 'subject', :value => @subject, :required => true}

  %label{:for => 'text'}
    Message content

  %textarea#text.mass-email-textarea.rich-editor{:name => 'text'}
    &= @text

  %div{:style => 'height:1em'}= ""

  %button.pure-button.button-primary{:type => 'submit'}
    %i.fa.fa-envelope= ""
    Send email

.form-wrapped
  %h1 Emails you've previously sent

  %ul
    - @previous_emails.each do |e|
      %li
        %a{:href => "/massemail/view/#{e[:id]}"}
          Sent to 
          %strong= e[:target_name]
          %time{:datetime => e[:created].iso8601}
            = "(#{pretty_time_ago e[:created]})"

