.form-wrapped
  %h1= "Viewing previously sent email #{@data[:id]}"

  %a.pure-button{:href => '/massemail'}
    %i.fa.fa-chevron-left
    Back

  %p
    %strong Sent:
    %time{:datetime => @data[:created].iso8601}
      = @data[:created].strftime('%Y-%m-%d %H:%M:%S')
      = "(#{pretty_time_ago @data[:created]})"

  %p
    %strong Target:
    = @data[:target_name]

  %p
    %strong Subject:
    = @data[:subject]

  %p
    %strong Queue status:
    = @data[:queue_status]

  %p
    %strong Content:

    .mass-email-preview.rich-text-container
      = @data[:content]
