.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Confirm input

    %p
      Please review the imported user data below.

    .membership-admin-import-data-list
      - @output_data.each do |row|
        %ul.membership-admin-import-data-user
          - import_csv_headers.each do |k|
            %li.membership-admin-import-data-user-field
              %strong= "#{k.last} = "

              - if k.first == :branch
                - if row[k.first] == nil
                  %span No branch (nil)
                - else
                  %span= row[k.first][1]
                  %code= "(id #{row[k.first][0]})"

              - elsif k.first == :membership_status
                - if row[k.first] == nil
                  %span Unknown (nil)
                - else
                  %code= row[k.first]

              - else
                %code= row[k.first]

      %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
        %h1 Confirm import

        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %input{:type => 'hidden', :name => 'action', :value => 'do-import'}
        %input{:type => 'hidden', :name => 'csv', :value => @csv}

        %label{:for => 'send-reset'}
          %input#send-reset{:type => 'checkbox', :name => 'send-reset'}
          Send password reset emails to new users when import is complete

        %label{:for => 'confirm'}
          %input#confirm{:type => 'checkbox', :name => 'confirm', :required => true}
          Check this box to confirm the above data is correct

        %button.pure-button.button-primary{:type => 'submit'} Import
