.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Import users

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %h1 CSV import
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

      %p
        The CSV file should have #{import_csv_headers.length} columns, in order these should be:

        %ul
          %li
            %code Full Name
          %li
            %code Email Address
          %li
            %code Address
          %li
            %code Home Phone
          %li
            %code Mobile Phone
          %li
            %code Membership Status
            %span (one of "member" or "supporter")
          %li
            %code Branch
            %span
              = "(This will be matched against the known branch names, and any"
              = "unknown branches will use the first created branch, currently"
              = "named #{@first_branch.decrypt(:name)})"
          %li
            %code Member since date
            %span
              (The date that the user become a member/supporter)

      %label{:for => 'csv-data'} CSV data
      %textarea#csv-data{:name => 'csv', :required => true}= ""

      %button.pure-button.button-primary{:type => 'submit'} Import
