.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Import confirmation

    %p
      = "#{@imported_users.length} users were imported."
      = "#{@existing_users.length} of those users already existed, and their profile information was updated."

