.pure-g
  .pure-u-1.pure-u-md-1-4 &nbsp;
  .pure-u-1.pure-u-md-1-2
    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => "/auth/reset"}
      %h1= t :reset_password
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

      %p= t :reset_password_text

      %label{:for => "reset-email"}= t :email_address
      %input#reset-email{:type => "email", :name => "email", :required => true, :placeholder => t(:email_address), :autofocus => true}

      %button.pure-button.pure-button-primary{:type => "submit"}= t :reset_password
