.pure-g
  .pure-u-1.pure-u-md-1-4 &nbsp;
  .pure-u-1.pure-u-md-1-2
    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => "/auth/reset/#{@token.token}"}
      %h1= t :reset_password
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

      %p= t :reset_password_enter_below

      %label{:for => "reset-password"}= t :password
      %input#reset-password{:type => "password", :name => "password", :required => true, :placeholder => t(:password), :'data-strength' => 'reset-password-strength'}
      %div#reset-password-strength.zxcvbn-result
        %div.zxcvbn-score-bar= ""
        %div.zxcvbn-score-text= ""
        %div.zxcvbn-warnings= ""
        %div.zxcvbn-suggestions= ""

      %label{:for => "reset-password-repeat"}= t :password_repeat
      %input#reset-password-repeat{:type => "password", :name => "password-repeat", :required => true, :placeholder => t(:password_repeat)}

      %button.pure-button.pure-button-primary{:type => "submit"}= t :reset_password

.async-load{:'data-sources' => JSON.generate(['/static/vendor/zxcvbn/dist/zxcvbn.js'])}
