.pure-g
  .pure-u-1.pure-u-md-1-4 &nbsp;
  .pure-u-1.pure-u-md-1-2
    .form-wrapped
      %h1= t :reset_password
      %p= t :reset_password_success_text
      %a.pure-button.button.button-primary{:href => "/auth"}= t :log_in
