.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %form#editform.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => '/system/config/edit'}
      %h1= "Editing config entry #{@key.inspect}"

      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'key', :value => @key}
      %input{:type => 'hidden', :name => 'expanded', :value => "on"}

      .fieldswitch
        %label{:for => 'type'} Value type
        %select#type.fieldswitch-select{:name => 'type', :disabled => @type != nil}
          %option{:value => 'boolean', :selected => @type == :boolean} Boolean
          %option{:value => 'text', :selected => @type == :text} Text

        .fieldswitch-field{:'data-type' => 'boolean'}
          %label{:for => 'value-boolean'} Value
          %select#value-boolean{:name => 'value-boolean'}
            %option{:value => 'yes', :selected => @value == "yes"} Yes
            %option{:value => 'no', :selected => @value != "yes"} No

        .fieldswitch-field{:'data-type' => 'text'}
          %label{:for => 'value-text'} Value
          %input#value-text{:name => "value-text", :type => 'text', :value => @value}

      %button.pure-button.pure-button-primary{:type => 'submit'} Save

    %form#editform.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => '/system/config/edit'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1 Delete entry

      %input{:type => 'hidden', :name => 'key', :value => @key}
      %input{:type => 'hidden', :name => 'delete', :value => "on"}

      %button.pure-button.button-error{:type => 'submit'} Delete entry
