.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 System configuration

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => '/system/config/edit'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1 Add new key

      %input{:type => 'text', :name => 'key', :required => true, :placeholder => 'Key'}
      %button.pure-button.button-success{:type => 'submit'} Create

    .form-wrapped
      %h1 Modify existing

      .system-config-list-container
        %ul.system-config-list
          - @configentries.each do |c|
            %li
              .system-config-list-entry
                %span
                  %strong= "#{c.key} = "
                  %code
                    &= c.value

                %form.system-config-list-edit-form{:method => "POST", :action => '/system/config/edit'}
                  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                  %input{:type => "hidden", :name => "key", :value => c.key}
                  %button.pure-button{:type => 'submit'}
                    %i.fa.fa-pencil= ''
                    Edit

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => '/system/config/refresh'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1 Refresh global config

      %button.pure-button.button-primary{:type => 'submit'} Refresh global config
