.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= t :'admin/user_attendance', :user => @user_name

    %a.pure-button{:href => "/admin/user/edit/#{@user.id}"}
      %i.fa.fa-chevron-left
      = t :back

    - if @attendance.empty?
      .message.message-error= t :'admin/user_attendance_empty'

    - else
      %form{:method => 'POST', :action => "/admin/user/attendance/#{@user.id}/export", :style => 'display:inline-block'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %button.pure-button.button.button-primary{:type => 'submit'}
          %i.fa.fa-envelope
          Email data export

      %ul.membership-admin-attendance-list
        - @attendance.each do |entry|
          %li
            Meeting for branch
            %strong{:title => "Branch ID #{entry[:branch].id}"}= entry[:branch_name]
            at
            %time.membership-admin-changelog-entry-date{:datetime => entry[:datetime].iso8601}
              %strong= entry[:datetime].strftime("%A, %-d %B %Y at %I:%M %P")

            %br

            Status:
            %strong= entry[:status]

      .form-wrapped
        - prevpage = "/admin/user/attendance/#{@user.id}?page=#{@current_page - 1}"
        %a.pure-button{:href => @current_page > 1 ? prevpage : '#', :disabled => @current_page <= 1}
          %i.fa.fa-chevron-left= ""
          = t :'page/previous'

        %span= t :'page/count', :current => @current_page, :total => @total_pages

        - nextpage = "/admin/user/attendance/#{@user.id}?page=#{@current_page + 1}"
        %a.pure-button{:href => @current_page < @total_pages ? nextpage : '#', :disabled => @current_page >= @total_pages}
          %i.fa.fa-chevron-right= ""
          = t :'page/next'
