.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= t :'admin/user_changelog', :user => @user_name

    %a.pure-button{:href => "/admin/user/edit/#{@user.id}"}
      %i.fa.fa-chevron-left
      = t :back

    %ul.membership-admin-changelog-list
      - @changelog_entries.each do |entry|
        %li
          %p
            %strong.membership-admin-changelog-entry-type= entry[:type_friendly]
            %time.membership-admin-changelog-entry-date{:datetime => entry[:created].iso8601}
              at
              = entry[:created].strftime('%Y-%m-%d %H:%M:%S')
              = "(#{pretty_time_ago entry[:created]})"

          %p
            = entry[:message]
