.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :action => '/admin/user/create'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1= t :'admin/create_user'

      %label{:for => 'user-name'}= t :full_name
      %input#user-name{:type => 'text', :name => 'user-name', :placeholder => t(:full_name)}

      %button.pure-button.button-primary{:type => 'submit'}
        %i.fa.fa-user= ""
        = t :create
