.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button{:href => "/admin/user/edit/#{@user.id}"}
      %i.fa.fa-chevron-left= ""
      = t :back

    - if current_user.id == @user.id
      .message.message-warning= t(:'admin/editing_own_roles')

    - unless @user.totp_enabled
      .message.message-error= t(:'roles/user_does_not_have_two_factor')

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

      - @roles.each do |cat|
        %h1= cat[:name]

        - if cat.key?(:warning)
          .message.message-warning= cat[:warning]

        - cat[:roles].each do |role|
          %label{:for => "role__#{role[:role]}"}
            %input{:type => 'checkbox', :id => "role__#{role[:role]}", :name => "role__#{role[:role]}", :checked => role[:has]}
            = role[:desc]

      %h1 Save changes
      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-pencil= ""
        Save changes
