.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= t :'admin/editing_user', :user => @user_name

    - if request.params.key?("back")
      %a.pure-button{:href => request.params["back"]}
        %i.fa.fa-chevron-left= ""
        = t :back

    %a.pure-button{:href => '/admin/user'}
      %i.fa.fa-search
      = t :new_search

    - if @user.id == current_user.id
      .message.message-warning= t :'admin/editing_own_profile', :unpriv => '/user'

    .form-wrapped
      %h1= t :actions

      %a.pure-button.button{:href => "/admin/user/changelog/#{@user.id}"}
        %i.fa.fa-list
        = t :'admin/view_user_changelog'

      %a.pure-button.button{:href => "/admin/user/attendance/#{@user.id}"}
        %i.fa.fa-users
        = t :'admin/view_user_attendance'

      %a.pure-button.button{:href => "/admin/user/edit/roles/#{@user.id}"}
        %i.fa.fa-lock
        = t :'roles/edit_roles'

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1= t :user_profile
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'profile_edit'}

      - @fields.each do |f|
        %label{:for => "profile-#{f[:name]}"}= f[:friendly]
        - if f[:type] == "textarea"
          %textarea{:id => "profile-#{f[:name]}", :name => f[:name], :placeholder => f[:friendly], :required => f[:required]}
            = @values[f[:name]]

        - elsif f[:type] == "select"
          %select{:id => "profile-#{f[:name]}", :name => f[:name], :required => f[:required]}
            %option{:value => 'unknown', :selected => @values[f[:name]] == nil} Unknown
            - f[:select_options].each do |opt|
              %option{:value => opt[:name], :selected => @values[f[:name]] == opt[:name]}= opt[:friendly]

        - elsif f[:type] == "bool"
          %select{:id => "profile-#{f[:name]}", :name => f[:name], :required => f[:required]}
            %option{:value => 'unknown', :selected => @values[f[:name]] == nil} Unknown
            %option{:value => 'true', :selected => @values[f[:name]] == 'true'} Yes
            %option{:value => 'false', :selected => @values[f[:name]] == 'false'} No

        - else
          %input{:id => "profile-#{f[:name]}", :name => f[:name], :placeholder => f[:friendly], :required => f[:required], :value => @values[f[:name]], :type => f[:type]}

      %button.pure-button.pure-button-primary{:type => "submit"}= t :user_profile_save

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1= t :branch
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'branch_edit'}

      - if @branch_change_req
        - d = @branch_change_req.to_h
        .message.message-success
          = t :'admin/pending_branch_change'
          %br
          = d[:message]

      %label{:for => 'branch'}= t :branch
      %select#branch{:name => 'branch'}
        - @branches.each do |b|
          %option{:value => b[:id], :selected => (@branch == b[:id])}= b[:name]
        %option{:value => 'unknown', :selected => (@branch == nil)}= t :unknown_branch

      %button.pure-button.pure-button-primary{:type => "submit"}= t :change_branch

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1= t :membership_status
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'membership_edit'}

      - if @status_change_req
        - d = @status_change_req.to_h
        .message.message-success
          = t :'admin/pending_status_change'
          %br
          = d[:message]

      %label{:for => 'membership-status'}= t :membership_status
      %select#membership-status{:name => 'status'}
        - EARMMS.membership_status_options.each_key do |key|
          %option{:value => key.to_s, :selected => (@membership_status == key.to_s.strip)}= EARMMS.membership_status_options[key]
        %option{:value => "unknown", :selected => (@membership_status == nil)}= t :unknown_membership_status

      %button.pure-button.pure-button-primary{:type => "submit"}= t :change_membership_status

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'change_email'}
      %h1= t :change_email_address

      %label{:for => 'email-address'}= t :email_address
      %input#email-address{:type => 'email', :name => 'email', :placeholder => "Email address", :required => true, :value => @user.email}

      %button.pure-button.button-primary{:type => 'submit'}
        = t :change_email_address

    - unless @user_is_nil
      %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %input{:type => 'hidden', :name => 'action', :value => 'remove_email'}
        %h1= t :remove_email_address

        %p= t :'admin/remove_email_explanation'

        - if @user.id == current_user.id
          .message.message-warning
            = t :'admin/affect_current_user'
            %br
            = t :'admin/remove_email_current_user'
            %strong= t :'admin/you_dont_want_this'

        %label{:for => 'remove-email-confirm'}
          %input#remove-email-confirm{:type => 'checkbox', :name => 'confirm', :required => true}
          = t :check_to_confirm

        %button.pure-button.button-error{:type => 'submit'}
          = t :remove_email_address

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1= t :reset_password
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'pw_reset'}

      %p= t :'admin/pw_reset_explanation'

      - if @user.id == current_user.id
        .message.message-warning
          = t :'admin/affect_current_user'
          %br
          = t :'admin/pw_reset_current_user'

      - if @user_is_nil
        .message.message-warning
          = t :'admin/pw_reset_disabled_no_email'

      %label{:for => 'pw-reset-confirm'}
        %input#pw-reset-confirm{:type => 'checkbox', :name => 'confirm', :required => true, :disabled => @user_is_nil}
        = t :check_to_confirm

      %button.pure-button.button-error{:type => 'submit', :disabled => @user_is_nil}
        = t :reset_password

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1= t :two_factor_authentication
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'disable_2fa'}

      - if @user.totp_enabled
        %p= t :'admin/two_factor_will_disable_for', :user_name => @profile.decrypt(:full_name).force_encoding("UTF-8")
        %p= t :'admin/two_factor_disable_warning'

        %label{:for => '2fa-disable-confirm'}
          %input#2fa-disable-confirm{:type => 'checkbox', :name => 'confirm', :required => true}
          = t :check_to_confirm

        %button.pure-button.button-error{:type => 'submit'}
          %i.fa.fa-pencil= ""
          = t :disable_two_factor

      - else
        %p= t :'admin/two_factor_not_enabled'

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1= t :disable_account
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'disable_account'}

      - if @user.id == current_user.id
        .message.message-warning
          = t :'admin/affect_current_user'
          %br
          %strong= t :'admin/you_dont_want_this'
          = t :'admin/disable_current_user'

        %p= t(:'admin/disable_account_leave_blank_to_enable')

        %label{:for => 'email-address'}= t :'admin/disable_account_reason'
        %input#email-address{:type => 'text', :name => 'reason', :placeholder => t(:'admin/disable_account_reason'), :value => @user.decrypt(:disabled_reason).force_encoding("UTF-8")}

        %button.pure-button.button-error{:type => 'submit'}
          %i.fa.fa-pencil= ""
          = t :'admin/disable_account_modify'

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1= t :delete_account
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'delete_account'}

      - if @user.id == current_user.id
        .message.message-warning
          = t :'admin/affect_current_user'
          %br
          %strong= t :'admin/you_dont_want_this'
          = t :'admin/delete_current_user', :link => '/user/account'

      %label{:for => 'delete-confirm'}
        %input#delete-confirm{:type => 'checkbox', :name => 'confirm', :required => true}
        = t :check_to_confirm

      %button.pure-button.button-error{:type => 'submit'}
        %i.fa.fa-trash= ""
        = t :delete_account

    .form-wrapped
      %h1 ID numbers

      %label{:for => 'user-id'} User ID
      %input#user-id{:type => 'text', :disabled => true, :value => @user.id}

      %label{:for => 'profile-id'} Profile ID
      %input#profile-id{:type => 'text', :disabled => true, :value => @profile.id}
