.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %form.pure-form.pure-form-stacked.form-wrapped{:method => "GET", :action => "/admin/user/search/expanded"}
      %h1= t :'admin/search_users'

      .fieldswitch
        %label{:for => 'searchtype'}= t :search_type
        %select#searchtype.fieldswitch-select{:name => 'searchtype'}
          %option{:value => 'uid'}= t :'user_id'
          %option{:value => 'email'}= t :email_address
          %option{:value => 'branch'}= t :branch
          %option{:value => 'full_name'}= t :'full_name'
          %option{:value => 'phone_home'}= t :'phone_home'
          %option{:value => 'phone_mobile'}= t :'phone_mobile'
          %option{:value => 'prisoner_number'}= t :'prisoner_number'
          %option{:value => 'membership_status'}= t :membership_status
          %option{:value => 'creation_before'}= t :joined_before
          %option{:value => 'creation_after'}= t :joined_after
          - @custom_fields.each do |f|
            %option{:value => "custom_#{f[:name]}"}= f[:friendly]

        .fieldswitch-field{:'data-type' => 'uid'}
          %label{:for => 'uid'}= t :'user_id'
          %input#uid{:name => 'uid', :type => 'text'}

        .fieldswitch-field{:'data-type' => 'email'}
          %label{:for => 'email'}= t :email_address
          %input#uid{:name => 'email', :type => 'text'}

        .fieldswitch-field{:'data-type' => 'branch'}
          %label{:for => 'branch'}= t :branch
          %select#branch{:name => 'branch'}
            - @branches.each do |b|
              %option{:value => "#{b[:id]}:member"}= "Members: #{b[:name]}"
              %option{:value => "#{b[:id]}:supporter"}= "Supporters: #{b[:name]}"

        .fieldswitch-field{:'data-type' => 'full_name'}
          %label{:for => 'full_name'}= t :'full_name'
          %input#full_name{:name => 'full_name', :type => 'text'}

        .fieldswitch-field{:'data-type' => 'phone_home'}
          %label{:for => 'phone_home'}= t :'phone_home'
          %input#phone_home{:name => 'phone_home', :type => 'text'}

        .fieldswitch-field{:'data-type' => 'phone_mobile'}
          %label{:for => 'phone_mobile'}= t :'phone_mobile'
          %input#phone_mobile{:name => 'phone_mobile', :type => 'text'}

        .fieldswitch-field{:'data-type' => 'prisoner_number'}
          %label{:for => 'prisoner_number'}= t :'prisoner_number'
          %input#prisoner_number{:name => 'prisoner_number', :type => 'text'}

        .fieldswitch-field{:'data-type' => 'membership_status'}
          %label{:for => 'membership_status'}= t :membership_status
          %select#membership_status{:name => 'membership_status'}
            %option{:value => 'member'}= t :membership_status_member
            %option{:value => 'supporter'}= t :membership_status_supporter
            %option{:value => ''}= t :unknown_membership_status

        .fieldswitch-field{:'data-type' => 'creation_before'}
          %label{:for => 'creation_before'}= t :joined_before
          %input#creation_before{:name => 'creation_before', :type => 'date'}

        .fieldswitch-field{:'data-type' => 'creation_after'}
          %label{:for => 'creation_after'}= t :joined_after
          %input#creation_after{:name => 'creation_after', :type => 'date'}

        - @custom_fields.each do |f|
          .fieldswitch-field{:'data-type' => "custom_#{f[:name]}"}
            %label{:for => "custom_#{f[:name]}"}= f[:friendly]
            - if f[:type] == "bool"
              %select{:id => "custom_#{f[:name]}", :name => "custom_#{f[:name]}"}
                %option{:value => 'unknown'} Unknown
                %option{:value => 'true'} Yes
                %option{:value => 'false'} No

            - elsif f[:type] == "select"
              %select{:id => "custom_#{f[:name]}", :name => "custom_#{f[:name]}"}
                %option{:value => 'unknown'} Unknown
                - f[:select_options].each do |opt|
                  %option{:value => opt[:name]}= opt[:friendly]

            - else
              %input{:id => "custom_#{f[:name]}", :name => "custom_#{f[:name]}", :type => 'text'}

      %button.pure-button.button-primary{:type => "submit"}
        %i.fa.fa-search= ""
        = t :search

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :action => '/admin/user/create'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1= t :'admin/create_user'

      %label{:for => 'user-name'}= t :'full_name'
      %input#user-name{:type => 'text', :name => 'user-name', :placeholder => t(:'full_name')}

      %button.pure-button.button-primary{:type => 'submit'}
        %i.fa.fa-user= ""
        = t :create
