.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= t :'admin/search_users'
    %a.pure-button{:href => '/admin/user'}
      %i.fa.fa-chevron-left= ""
      = t :new_search

    .form-wrapped
      %h1= t :search_results
      - if @results == nil || @results.length == 0
        %p= t :search_no_results

      - else
        %p= t :search_result_count, :count => @results.length

        %ul.membership-admin-user-list
          - @results.each do |u|
            %li.membership-admin-user
              - uri = Addressable::URI.parse("/admin/user/edit/#{u[:user].id}")
              - uri.query_values = {"back" => @current_uri}
              %a{:href => uri}
                %strong= "#{u[:user_name]}"

                %span
                  &middot;
                  joined #{u[:user].creation.strftime("%Y-%m-%d %H:%M")}

                %span
                  &middot;
                  user id #{u[:user].id}

                - if u[:user].id == current_user.id
                  .badge
                    %i.fa.fa-user
                    = t :thats_you

    - unless @results == nil || @results.length == 0
      %form.pure-form.pure-form-stacked.form-wrapped{:method => 'GET'}
        %input{:type => 'hidden', :name => 'query', :value => @query}
        %input{:type => 'hidden', :name => 'searchtype', :value => @searchtype}
        %h1 Sort results

        %label{:for => "search-sort-type"} Sort by
        %select#search-sort-type{:name => 'sort'}
          %option{:value => 'name', :selected => @sort == "name"} Full name
          %option{:value => 'creation', :selected => @sort == "creation"} User creation date
          %option{:value => 'userid', :selected => @sort == "userid"} User ID

        %label{:for => 'search-sort-reverse'}
          %input#search-sort-reverse{:type => 'checkbox', :name => 'sortrev', :checked => @sort_reverse}
          Reverse sort

        %button.pure-button.button.button-primary{:type => 'submit'}
          Sort results

      .form-wrapped
        %h1 Actions

        %form.pure-form.pure-form-stacked{:method => 'POST', :action => @current_uri}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => 'as_text_email'}
          %button.pure-button.button-primary{:type => 'submit'}
            %i.fa.fa-file-text-o= ""
            = t :'admin/list_users_as_text'

        %form.pure-form.pure-form-stacked{:method => 'POST', :action => @current_uri}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => 'export_search'}

          %label{:for => 'search-export-type'} Export type
          %select#search-export-type{:name => 'export_type'}
            %option{:value => 'text'} Export as text
            %option{:value => 'csv'} Export as CSV

          %button.pure-button{:type => 'submit'}
            %i.fa.fa-envelope= ""
            = t :'admin/email_export'

        %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :action => @current_uri}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => 'perform_mass_action'}
          %h1= t(:'admin/mass_action/section_title')

          %label{:for => 'mass-action-type'}= t(:'admin/mass_action/type')
          %select#mass-action-type{:name => 'mass_action'}
            %option{:value => 'membership_status:member'}= t :'admin/mass_action/type/membership_status', :status => 'Member'
            %option{:value => 'membership_status:supporter'}= t :'admin/mass_action/type/membership_status', :status => 'Supporter'

          %button.pure-button{:type => 'submit'}
            %i.fa.fa-list= ""
            = t :'admin/mass_action/submit'
