.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button{:href => '/admin/group'}
      %i.fa.fa-chevron-left
      Back to group list

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => "edit"}
      %h1 Edit

      %label{:for => "group_name"} Group name
      %input#group_name{:name => "name", :required => true, :placeholder => "Group name", :value => @name}

      %label{:for => 'group_type'} Group type
      %select#group_type{:name => 'type', :required => true}
        %option{:value => "caucus", :selected => @group.type == "caucus"} Caucus
        %option{:value => "working_group", :selected => @group.type == "working_group"} Working group

      %label{:for => "group_description"} Description
      %textarea#group_description{:name => "description"}
        = @description

      %label{:for => "group_agreement"} Agreement displayed to user before joining (leave empty to disable)
      %textarea#group_agreement{:name => "agreement"}
        = @agreement

      %label{:for => "group_is_joinable"}
        %input#group_is_joinable{:type => 'checkbox', :name => 'is_joinable', :checked => @is_joinable}
        Group is joinable by users

      %label{:for => "group_is_restricted_to_member"}
        %input#group_is_restricted_to_member{:type => 'checkbox', :name => 'is_restricted', :checked => @is_restricted_to_member}
        Group membership is restricted to organisation members

      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-pencil
        Edit group

    .form-wrapped
      %h1 Members

      - if @members.empty?
        %p No members.

      - else
        %ul.membership-admin-group-members
          - @members.each do |userid, minfo|
            %li
              .membership-admin-group-member-info
                %span= minfo[:name]

                - if minfo[:admin]
                  %span.badge admin

              .membership-admin-group-member-actions
                - user_edit_url = Addressable::URI.parse("/admin/user/edit/#{minfo[:user].id}")
                - user_edit_url.query_values = {:back => request.path}
                %a.pure-button.button.button-primary{:href => user_edit_url.to_s, :style => 'display:inline-block;width:auto'}
                  %i.fa.fa-user
                  Edit user

                %form{:method => 'POST', :style => 'display:inline-block'}
                  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                  %input{:type => 'hidden', :name => 'action', :value => "user_remove"}
                  %input{:type => 'hidden', :name => 'user', :value => userid}
                  %button.pure-button.button.button-error{:type => 'submit'}
                    %i.fa.fa-trash
                    Remove user

                %form{:method => 'POST', :style => 'display:inline-block'}
                  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                  %input{:type => 'hidden', :name => 'action', :value => "user_promote"}
                  %input{:type => 'hidden', :name => 'user', :value => userid}

                  - if minfo[:admin]
                    %button.pure-button{:type => 'submit'}
                      %i.fa.fa-arrow-down
                      Demote user
                  - else
                    %button.pure-button{:type => 'submit'}
                      %i.fa.fa-arrow-up
                      Promote user to admin

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => "user_add"}
      %h1 Add member

      %label{:for => "group_add_member_id"} New member's user ID
      %input{:type => 'text', :name => 'user', :required => true, :placeholder => "User ID"}

      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-plus
        Add user

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => "remove_group"}
      %h1 Remove group

      %label{:for => 'group-remove-confirm'}
        %input#group-remove-confirm{:type => 'checkbox', :name => 'remove-confirm', :required => true}
        Check this box to confirm removing the group

      %button.pure-button.button.button-error{:type => 'submit'}
        Remove group
