.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    - if @groups.empty?
      .form-wrapped
        %h1 Groups

        %p
          There are no groups.

    - else
      - @groups.each do |type, groups|
        .form-wrapped
          %h1
            - if type == "caucus"
              Caucuses
            - elsif type == "working_group"
              Working groups
            - else
              Unknown group type #{type.inspect}

          %ul
            - groups.each do |id, c|
              %li
                %a{:href => c[:link]}
                  = c[:name]
                  - unless c [:is_joinable]
                    %span{:title => "This is a secret group."}
                      %i.fa.fa-lock

                %span
                  &middot;
                  #{c[:member_count]} members

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :action => '/admin/group/create'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1 Create a group

      %label{:for => 'group_name'} Group name
      %input#group_name{:name => 'name', :required => true, :placeholder => 'Group name'}

      %label{:for => 'group_type'} Group type
      %select#group_type{:name => 'type', :required => true}
        %option{:value => "caucus"} Caucus
        %option{:value => "working_group"} Working group

      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-plus
        Create group
