.pure-g
  .pure-u-1.pure-u-md-1-4 &nbsp;
  .pure-u-1.pure-u-md-1-2
    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1 Join a branch

      %p
        Select a branch to join from the list below. If you aren't close to any
        existing branches, select #{@branches.sort{|a, b| a[:id] <=> b[:id]}.first[:name]}.

      %label{:for => 'branch'} Branch to join
      %select#branch{:name => 'branch'}
        - @branches.each do |b|
          %option{:value => b[:id]}= b[:name]

      %button.pure-button.button.button-primary{:type => 'submit'}
        Next step
