.pure-g
  .pure-u-1.pure-u-md-1-4 &nbsp;
  .pure-u-1.pure-u-md-1-2
    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1 Welcome!

      %p
        You are now registered with #{site_name} as a #{@status} of #{org_name}.

      - if @pending_status
        - d = JSON.parse(@pending_status.decrypt(:data))
        %p
          You have requested to become a #{d["to_status"]} of #{org_name}.
          This must be approved by the membership officer.

      - if @pending_branch
        - d = JSON.parse(@pending_branch.decrypt(:data))
        %p
          You have requested to affiliate with the #{d["to_branch"]} branch of #{org_name}.
          This must be approved by the membership officer.

      %p
        Click on the button below to continue to #{site_name}!

      %button.pure-button.button.button-primary{:type => 'submit'}
        Continue
