.pure-g
  .pure-u-1.pure-u-md-1-4 &nbsp;
  .pure-u-1.pure-u-md-1-2
    .form-wrapped
      %h1 Kaupapa and membership application

    - if @kaupapa_prompt
      %p
        The kaupapa of #{org_name} is below. Please note that the kaupapa is
        %strong
          not a set of "terms and conditions" that you must agree to in order
          to create an account,
        rather it is the fundamental principles of our organisation.

      %p
        If you do not agree to this kaupapa in full you can continue
        as a supporter instead, at the bottom of this form.

      %hr

      .signup-extended-kaupapa
        = @kaupapa_prompt

      %hr

      %p
        If you agree to the above kaupapa, and wish to become a member of
        #{org_name}, click the "Submit membership application" button below.
        If you do not agree in full, or don't wish to become a full member,
        click the "Continue as a supporter" button below.

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'as_member'}

      %button.pure-button.button-primary{:type => 'submit'}
        Submit membership application

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'as_supporter'}

      %button.pure-button.button{:type => 'submit'}
        Continue as a supporter instead
