- if @kaupapa_prompt
  .pure-g
    .pure-u-1
      .form-wrapped
        %h1 Our kaupapa

        %p
          The kaupapa of #{org_name} is below. Please note that the kaupapa is
          %strong
            not a set of "terms and conditions" that you must agree to in order
            to create an account,
          rather it is the fundamental principles of our organisation.

        %hr

        .signup-extended-data.signup-extended-kaupapa
          = @kaupapa_prompt

        %hr

.pure-g
  .pure-u-1.pure-u-md-1-2
    %form.pure-form.pure-form-stacked.form-wrapped.pad-a-bit{:method => "POST"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'as_member'}
      %h1 Member

      - if @membership_requirements
        .signup-extended-data.signup-extended-membership
          = @membership_requirements

      %button.pure-button.button{:type => 'submit'}
        Submit application for membership

  .pure-u-1.pure-u-md-1-2
    %form.pure-form.pure-form-stacked.form-wrapped.pad-a-bit{:method => "POST"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'as_supporter'}
      %h1 Supporter

      - if @supporter_requirements
        .signup-extended-data.signup-extended-supporter
          = @supporter_requirements

      %button.pure-button.button{:type => 'submit'}
        Continue as a supporter
