.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= t :'admin/title'

    %h2= t :items_to_review
    %ul
      %li
        - if @membership_alerts > 0
          %a{:href => '/admin/alerts'}
            %i.fa.fa-bell
            = t :alert_count, :count => @membership_alerts
        - else
          = t :alert_none

    %h2= t :'admin/overview'
    %ul
      %li= t :member_count, :count => @counts[:members]
      %li= t :supporter_count, :count => @counts[:supporters]
      %li
        = t :branches
        %ul
          - @counts[:branches].keys.each do |b|
            %li
              #{b}:
              = t :member_count, :count => @counts[:branches][b]
