- if has_role?("admin:access")
  %ul.page-sidebar
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current?('/admin'))}
      %a.page-sidebar-link{:href => "/admin"}= t :home

      %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/admin/alerts"))}
        %a.page-sidebar-link{:href => "/admin/alerts"}
          = t :alerts
          - if @membership_alerts > 0
            %span.badge
              %i.fa.fa-bell= ""
              = @membership_alerts

      - if has_role?("admin:branch")
        %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/admin/branch"))}
          %a.page-sidebar-link{:href => "/admin/branch"}= t :branches

      - if has_role?("admin:user_change")
        %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/admin/user"))}
          %a.page-sidebar-link{:href => "/admin/user"}= t :'admin/user_management'

      - if has_role?("admin:groups")
        %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/admin/group"))}
          %a.page-sidebar-link{:href => "/admin/group"} Groups

      - if has_role?("admin:config")
        %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/admin/config"))}
          %a.page-sidebar-link{:href => "/admin/config"} Configuration

      - if has_role?("admin:import")
        %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/admin/import"))}
          %a.page-sidebar-link{:href => "/admin/import"}= t :'admin/user_import'
