.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Two-factor authentication

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => '/user/twofactor/totp'}
      %h1 Authenticator app
      %p= "Two-factor authentication via an authenticator app is #{@user.totp_enabled ? 'enabled' : 'disabled'}."

      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

      - if @user.totp_enabled
        %input{:type => "hidden", :name => "statechange", :value => "disable"}

        %p
          %label{:for => "confirm"}
            %input{:type => "checkbox", :name => "confirm", :id => "confirm", :required => true}
            Check this box to confirm you want to disable two-factor authentication

        %button.pure-button.button-error{:type => 'submit'}
          %i.fa.fa-times= ""
          Disable two-factor authentication

      - else
        %input{:type => "hidden", :name => "statechange", :value => "enable"}
        %button.pure-button.button-primary{:type => 'submit'}
          %i.fa.fa-check= ""
          Enable two-factor authentication

    .form-wrapped
      %h1 Security key

      - if @user.totp_enabled
        %p= "Two-factor authentication via a security key is #{@has_u2f ? 'enabled' : 'disabled'}."

        %a.pure-button.button.button-primary{:href => '/user/twofactor/u2f',}
          %i.fa.fa-pencil= ""
          Edit security key settings
      - else
        %p
          You must have two-factor authentication via an authenticator app
          enabled before you can add a security key.
