.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    .usersettings-2fa-verify
      %h1 Enable two-factor authentication

      %p
        To enable two-factor authentication, scan the QR code below with your
        two-factor authentication app.

      %p
        %img{:src => @qrcode_data}

      %p
        If you can't scan this code, enter this token into your two-factor
        authentication app:

        %code= @token

      %form.usersettings-2fa-verify-form{:method => "POST"}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %input{:type => "hidden", :name => "statechange", :value => "verify"}

        %p
          %label{:for => "code"} Verification code:
          %input{:type => "text", :name => "code", :id => "code", :placeholder => "123456", :autofocus => true}

        %p
          %button.pure-button.button-primary{:type => 'submit'}
            %i.fa.fa-check= ""
            Enable two-factor authentication


