.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Data correction

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %h1 Reset invalid membership status to supporter

      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'invalid-status-reset'}

      %p
        This will reset the membership status of all users with invalid statuses
        to supporter.

      %label{:for => 'invalid-status-reset-confirm'}
        %input#invalid-status-reset-confirm{:type => 'checkbox', :name => 'confirm', :required => true}
        Check this box to confirm this change

      %button.pure-button.button-error{:type => 'submit'}
        %i.fa.fa-pencil= ""
        Perform correction

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %h1 Correct unset branches

      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'branch-all-unset'}

      %p
        This allows you to set all users who have invalid or empty branch data
        to be a part of this branch. This should only ever be used for members
        at large.

      %label{:for => 'all-unset-branch'}
        Branch

      %select#all-unset-branch{:name => 'branch', :required => true}
        - @branches.keys.each do |x|
          %option{:value => x}= "#{x} - #{@branches[x]}"

      %label{:for => 'all-unset-confirm'}
        %input#all-unset-confirm{:type => 'checkbox', :name => 'confirm', :required => true}
        Check this box to confirm this change

      %button.pure-button.button-error{:type => 'submit'}
        %i.fa.fa-pencil= ""
        Perform branch correction

