.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 System

    %h2 Items to review
    %ul
      %li
        - if @system_alerts > 0
          %a{:href => '/system/alerts'}
            %i.fa.fa-bell= ""
            = "#{@system_alerts} new system alerts!"
        - else
          No new system alerts.
