%ul.page-sidebar
  %li.page-sidebar-item{:class => ("page-sidebar-selected" if current?('/system'))}
    %a.page-sidebar-link{:href => "/system"} System home

  - if has_role? 'system:grant'
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/system/grant"))}
      %a.page-sidebar-link{:href => "/system/grant"} Role management

  - if has_role? 'system:change_config'
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/system/config"))}
      %a.page-sidebar-link{:href => "/system/config"} Configuration

  - if has_role? 'system:alerts'
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/system/alerts"))}
      %a.page-sidebar-link{:href => "/system/alerts"}
        Alerts
        - if @system_alerts > 0
          %span.badge
            %i.fa.fa-bell= ""
            = @system_alerts

  - if has_role? 'system:debugging'
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/system/debug"))}
      %a.page-sidebar-link{:href => "/system/debug"} Debugging info

  - if has_role? 'system:data_correction'
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current?("/system/data"))}
      %a.page-sidebar-link{:href => "/system/data"} Data correction

  - if has_role? 'system:work_queue'
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/system/workqueue"))}
      %a.page-sidebar-link{:href => "/system/workqueue"} Work queue
