Hello,

An alert on <%= site_name %> has occurred in section <%= alert[:section].to_s.inspect.force_encoding("UTF-8") %>.

Alert type: <%= alert[:type_friendly].force_encoding("UTF-8") %> (type code <%= alert[:type].to_s.force_encoding("UTF-8") %>)
Sent by:
  <% if alert[:user] %><% if alert[:profile] %><%= alert[:profile].decrypt(:full_name).force_encoding("UTF-8") %><% end %> (uid <%= alert[:user].id %>)<% else %>No user specified<% end %>
  <% if alert[:section].to_s == "membership" %><%= view_user_link %><% end %>


Message:
> <%= alert[:message].force_encoding("UTF-8") %>

You can view this, and any other alerts, at:
<%= view_alert_link %>

-------------------------------------------------------------------------------

You are being notified of this because you have an alerting role for this
section (<%= role %>) on <%= site_name.force_encoding("UTF-8") %>.
