<p>
  Hello,
</p>

<p>
  An alert on <%= site_name.force_encoding("UTF-8") %> has occurred in section <%= alert[:section].to_s.inspect.force_encoding("UTF-8") %>.
</p>

<p>
  Alert type: <%= alert[:type_friendly].force_encoding("UTF-8") %>
  (type code <code><%= alert[:type].to_s.force_encoding("UTF-8") %></code>)
</p>

<p>
  Sent by:
  <% if alert[:user] %>
    <% if alert[:section].to_s == "membership" %><a href="<%= view_user_link %>"><% end %>
    <% if alert[:profile] %>
      <%= alert[:profile].decrypt(:full_name).force_encoding("UTF-8") %>
    <% end %>

    (uid <code><%= alert[:user].id %></code>)
    <% if alert[:section].to_s == "membership" %></a><% end %>
  <% else %>
    No user specified
  <% end %>
</p>

<p>
  Message:
  <blockquote>
    <%= alert[:message].force_encoding("UTF-8") %>
  </blockquote>
</p>

<p>
  <a href="<%= view_alert_link %>">
    You can view this, and any other alerts, by clicking here.
  </a>

  <br>
  Alternatively, copy the following link into your web browser:
  <br>
  <code><%= view_alert_link %></code>
</p>

<hr>

<p>
  You are being notified of this because you have an alerting role for this
  section (<code><%= role %></code>) on <%= site_name.force_encoding("UTF-8") %>.
</p>
