Hello,

This is a reminder that there is a meeting for the <%= branch.decrypt(:name).force_encoding("UTF-8") %>
branch on <%= datetime.strftime('%A, %-d %B %Y at %I:%M %P') %>.

Meeting details:

> Location: <%= meeting.decrypt(:location).force_encoding("UTF-8") %>
> Time: <%= datetime.strftime('%A, %-d %B %Y at %I:%M %P') %>

The notes for this meeting are as follows:

<%= meeting_notes_text %>

If you can not attend this meeting, you can send apologies by logging into
<%= site_name %> and clicking on the meeting on the home page, or by following
this link:

<%= meeting_link %>

-------------------------------------------------------------------------------

You are being sent this email because you are a member of the
<%= branch.decrypt(:name).force_encoding("UTF-8") %> branch of <%= org_name.force_encoding("UTF-8") %>.
