<p>Hello,</p>

<p>
  This is a reminder that there is a meeting for the <%= branch.decrypt(:name).force_encoding("UTF-8") %> branch on <%= datetime.strftime('%A, %-d %B %Y at %I:%M %P').force_encoding("UTF-8") %>.
</p>

<p>Meeting details:</p>

<p>
  <strong>Location:</strong> <%= meeting.decrypt(:location).force_encoding("UTF-8") %></p>
  <br>
  <strong>Time:</strong> <%= datetime.strftime('%A, %-d %B %Y at %I:%M %P').force_encoding("UTF-8") %>
</p>

<p>The notes for this meeting are as follows:</p>

<p>
  <blockquote>
    <%= meeting_notes_html %>
  </blockquote>
</p>

<p>
  If you can not attend this meeting, you can
  <a href="<%= meeting_link %>">send apologies by clicking here</a>, or going
  to this link in your browser: <%= meeting_link %>
</p>

<hr>

<p>
  You are being sent this email because you are a member of the
  <%= branch.decrypt(:name).force_encoding("UTF-8") %> branch of <%= org_name.force_encoding("UTF-8") %>.
</p>

