Hello,

A new user has joined the "<%= group[:name].force_encoding("UTF-8") %>" group that you administer on <%= site_name.force_encoding("UTF-8") %>.

User information:

* Name: <%= user[:name].force_encoding("UTF-8") %>
* Email: <%= user[:email].force_encoding("UTF-8") %>
* Branch: <%= user[:branch].force_encoding("UTF-8") %>

-------------------------------------------------------------------------------

You are being notified of this because you are an administrator of the
"<%= group[:name].force_encoding("UTF-8") %>" group on <%= site_name.force_encoding("UTF-8") %>.
