<p>
  Hello,
</p>

<p>
  A new user has joined the "<%= group[:name].force_encoding("UTF-8") %>" group that you administer on <%= site_name.force_encoding("UTF-8") %>.
</p>

<p>
  User information:

  <ul>
    <li><strong>Name:</strong> <%= user[:name].force_encoding("UTF-8") %></li>
    <li><strong>Email:</strong> <%= user[:email].force_encoding("UTF-8") %></li>
    <li><strong>Branch:</strong> <%= user[:branch].force_encoding("UTF-8") %></li>
  </ul>
</p>

<hr>

<p>
  You are being notified of this because you are an administrator of the group "<%= group[:name].force_encoding("UTF-8") %>" on <%= site_name.force_encoding("UTF-8") %>.
</p>
