Hello,

Someone, hopefully you, requested a password reset for the account
<%= email.force_encoding("UTF-8") %> on <%= site_name.force_encoding("UTF-8") %>.

To reset your password, visit the following link in a browser:

<%= reset_link %>

Regards,
<%= site_name.force_encoding("UTF-8") %> - <%= org_name.force_encoding("UTF-8") %>
