<p>Hello,</p>

<p>
Someone, hopefully you, requested a password reset for the account
<code><%= email.force_encoding("UTF-8") %></code>
on <%= site_name.force_encoding("UTF-8") %>.
</p>

<p>
<a href="<%= reset_link %>">To reset your password, click here</a>, or visit
the following link in your browser:
</p>

<p><code><%= reset_link %></code></p>

<p>
Regards,
<br>
<%= site_name.force_encoding("UTF-8") %> - <%= org_name.force_encoding("UTF-8") %>
</p>
