Hello,

There are <%= meetings.length %> branch meeting(s) in the next week within <%= org_name.force_encoding("UTF-8") %>.

<% for meeting in meetings %>
* Meeting for <%= meeting[:branch_name].force_encoding("UTF-8") %>:
  Time: <%= meeting[:datetime].strftime("%A, %-d %B %Y at %I:%M %P") %>
  More info: <%= meeting[:url].force_encoding("UTF-8") %>
<% end %>

-------------------------------------------------------------------------------
You are being sent this email because you are a supporter of <%= org_name.force_encoding("UTF-8") %>.
