<p>Hello,</p>

<p>
  There are <%= meetings.length %> branch meeting(s) in the next week within
  <%= org_name.force_encoding("UTF-8") %>.
</p>

<p>
  <ul>
    <% for meeting in meetings %>
      <li>
        <a href="<%= meeting[:url] %>">
          Meeting for
          <%= meeting[:branch_name].force_encoding("UTF-8") %>:
          <%= meeting[:datetime].strftime("%A, %-d %B %Y at %I:%M %P") %>
        </a>
      </li>
    <% end %>
  </ul>
</p>

<hr>

<p>
  You are being sent this email because you are a supporter of <%= org_name.force_encoding("UTF-8") %>.
</p>
