<p>Hello,</p>

<p>
  A user on <%= site_name.force_encoding("UTF-8") %> has deleted their account. A summary of their 
  account details is below.
</p>

<hr>

<p>
  Identifiers: uid <%= user.id %> pid <%= profile.id %>
  <br>
  Full name: <%= profile.decrypt(:full_name)&.force_encoding("UTF-8") %>
  <br>
  Email address: <%= user.email&.force_encoding("UTF-8") %>
  <br>
  Membership status: <%= profile.decrypt(:membership_status)&.force_encoding("UTF-8") %>
  <br>
  Branch: <%= profile.decrypt(:branch)&.force_encoding("UTF-8") %>
</p>

<hr>

<p>
  You are being notified of this because you have an alerting role for membership
  administration tasks on <%= site_name.force_encoding("UTF-8") %>.
</p>
