Hello,

A user on <%= site_name&.force_encoding("UTF-8") %> has deleted their account. A summary of their 
account details is below.

-------------------------------------------------------------------------------

Identifiers: uid <%= user.id %> pid <%= profile.id %>
Full name: <%= profile.decrypt(:full_name)&.force_encoding("UTF-8") %>
Email address: <%= user.email&.force_encoding("UTF-8") %>
Membership status: <%= profile.decrypt(:membership_status)&.force_encoding("UTF-8") %>
Branch: <%= profile.decrypt(:branch)&.force_encoding("UTF-8") %>

-------------------------------------------------------------------------------

You are being notified of this because you have an alerting role for membership
administration tasks on <%= site_name&.force_encoding("UTF-8") %>.
