Hello,

A user of <%= site_name %> has <% if type == :join %>joined<% elsif type == :leave %>left<% end %> the branch <%= branch.decrypt(:name).force_encoding("UTF-8") %>.

This user will <% if type == :join %>now<% elsif type == :leave %>no longer<% end %> appear in the attendance records for new branch meetings.

This user's details are below:

-------------------------------------------------------------------------------

Full name: <%= profile.decrypt(:full_name).force_encoding("UTF-8") %>
Email address: <%= user.email.force_encoding("UTF-8") %>
Membership status: <%= profile.decrypt(:membership_status).force_encoding("UTF-8") %>
Branch: <%= profile.decrypt(:branch).force_encoding("UTF-8") %>

-------------------------------------------------------------------------------

You are being notified of this because you are an admin of the <%= org_name.force_encoding("UTF-8") %> branch <%= branch.decrypt(:name).force_encoding("UTF-8") %>.
If you have any questions about this user, please contact the membership administrator.
