.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Two-factor authentication

    .form-wrapped
      %h1 Security keys

    %p
      = "You have #{@u2fcount} security keys registered."

    %ul
      - @u2fkeys.each do |x|
        %li
          %strong= x[:name]
          %code= "(#{x[:identifier]})"
          %form{:method => 'POST', :action => '/user/twofactor/u2f/delete'}
            %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
            %input{:type => 'hidden', :name => 'key', :value => x[:id]}
            %button.pure-button.button-error{:type => 'submit'}
              %i.fa.fa-trash= ""
              Remove

    %a.pure-button.button.button-success{:href => '/user/twofactor/u2f/register'}
      %i.fa.fa-pencil= ""
      Add a new security key
