.pure-g
  .pure-u-1.pure-u-md-1-6= ""
  .pure-u-1.pure-u-md-2-3
    %form.pure-form.pure-form-stacked.form-wrapped.pad-a-bit{:method => 'POST'}
      %h1 Security key registration
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

      %label{:for => 'u2f-name'} Enter a name for your security key
      %input#u2f-name{:type => 'text', :name => 'name', :placeholder => 'Name', :required => true}

      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-check= ""
        Save
