.pure-g
  .pure-u-1.pure-u-md-1-6= ""
  .pure-u-1.pure-u-md-2-3
    %form#u2f-form.pure-form.pure-form-stacked.form-wrapped.pad-a-bit{:method => 'POST', :'data-u2f-type' => 'register'}
      %h1 Security key registration
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'response', :value => ''}

      %div#u2f-data{:'data-appid' => JSON.generate(@u2f.app_id), :'data-registration-requests' => JSON.generate(@registration_requests), :'data-sign-requests' => JSON.generate(@sign_requests)}

      %p.spinner{:style => 'text-align:center;display:none'}
        %i.fa.fa-spinner.fa-2x.fa-pulse= ""

      %p.status
        Waiting. If you see this message for more than 10 seconds, please
        refresh the page.

