%footer.body-footer
  = t :powered_by_earmms, :site_name => site_name
  - if languages.size > 1
    %form{:method => "POST", :action => "/language"}
      %select{:name => "language"}
        - languages.each do |k, v|
          %option{value: k, selected: (k == current_language ? "selected" : false)}
            = v[:meta_description]
      %button.pure-button{:type => "submit"}
        = t :change_language
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'change-language'}
