!!!html
%html
  %head
    %meta(charset="utf-8")
    %title= [@title ? "#{@title} &laquo; " : nil, site_name].compact.join('')
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    %meta{:name => 'generator', :content => "EARMMS #{EARMMS.version}"}
    %link(rel="stylesheet" href="/static/vendor/purecss/build/pure-min.css")
    %link(rel="stylesheet" href="/static/vendor/purecss/build/grids-responsive-min.css")
    %link(rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css")
    %link(rel="stylesheet" href="/static/styles.css")
    - if settings.theme_dir
      %link(rel="stylesheet" href="/static/theme.css")

  %body
    = yield
