%nav.navbar
  .pure-menu.pure-menu-horizontal.navbar-bar
    .navbar-section
      %ul.pure-menu-list.navbar-list
        - unless @navbar_no_site_name
          %li.pure-menu-item.navbar-item
            %a.pure-menu-heading.pure-menu-link.navbar-link{:href => "/", :class => ("pure-menu-selected" if current?("/"))}
              = site_name

        - if logged_in?
          %li.pure-menu-item.navbar-item{:class => ("pure-menu-selected" if current_prefix?('/user'))}
            %a.pure-menu-link.navbar-link{:href => "/user"}= t :user_profile_my

        - if has_role?('email:access') || is_group_admin?(:include_email_privs => true)
          %li.pure-menu-item.navbar-item{:class => ("pure-menu-selected" if current_prefix?('/massemail'))}
            %a.pure-menu-link.navbar-link{:href => "/massemail"}= t :'massemail/title'

        - if is_group_admin?
          %li.pure-menu-item.navbar-item{:class => ("pure-menu-selected" if current_prefix?('/group'))}
            %a.pure-menu-link.navbar-link{:href => "/group"} Group admin

        - if has_role? 'branch:access'
          %li.pure-menu-item.navbar-item{:class => ("pure-menu-selected" if current_prefix?('/branch'))}
            %a.pure-menu-link.navbar-link{:href => "/branch"}= t :'branch_admin/title'

        - if has_role? 'admin:access'
          %li.pure-menu-item.navbar-item{:class => ("pure-menu-selected" if current_prefix?('/admin'))}
            %a.pure-menu-link.navbar-link{:href => "/admin"}= t :'admin/title'

        - if has_role? 'system:access'
          %li.pure-menu-item.navbar-item{:class => ("pure-menu-selected" if current_prefix?('/system'))}
            %a.pure-menu-link.navbar-link{:href => "/system"}= t :'system/title'

    .navbar-section
      %ul.pure-menu-list.navbar-list
        - if logged_in?
          %li.pure-menu-item.navbar-item
            %a.pure-menu-link.navbar-link{:href => "/auth/logout"}= t :log_out

        - else
          %li.pure-menu-item.navbar-item{:class => ("pure-menu-selected" if current?('/auth'))}
            %a.pure-menu-link.navbar-link{:href => "/auth"}= t :log_in
          %li.pure-menu-item.navbar-item{:class => ("pure-menu-selected" if current?('/auth/signup'))}
            %a.pure-menu-link.navbar-link{:href => "/auth/signup"}= t :sign_up
