%h1= "Branch: #{@branchname}"

%a.pure-button{:href => "/branch"}
  %i.fa.fa-chevron-left= ""
  Back to branch list

.pure-g
  .pure-u-1.pure-u-md-1-2
    .branch-admin-branch-upcoming.form-wrapped.pad-a-bit
      %h1 Upcoming meetings

      - if @upcoming.length > 0
        %ul.branch-admin-branch-upcoming-list
          - @upcoming.each do |meeting|
            %li
              %a{:href => "/branch/meetings/#{@branch.id}/#{meeting[:id]}"}
                Meeting on
                %strong= meeting[:datetime].strftime("%A, %-d %B %Y at %I:%M %P")

      - else
        %p No meetings within the next two weeks.

  .pure-u-1.pure-u-md-1-2
    .branch-admin-branch-actions.form-wrapped.pad-a-bit
      %h1 Actions

      %p
        %a.button.pure-button.button-primary{:href => "/branch/members/#{@branch.id}"}
          %i.fa.fa-user= ""
          List members

        %a.button.pure-button.button-primary{:href => "/branch/meetings/#{@branch.id}"}
          %i.fa.fa-calendar= ""
          Branch meetings


