%h1 Branch administration

%ul.branch-admin-index-branch-list
  - @branches.each do |b|
    %li
      .branch-admin-index-branch-info
        %strong= b[:name]
        = "(#{b[:member_count]} members)"

      .branch-admin-index-branch-actions
        %a.pure-button.button-primary{:href => "/branch/#{b[:id]}"}
          %i.fa.fa-pencil= ""
          Edit branch
