.branch-admin-members
  %h1= "Branch members: #{@branchname}"

  .branch-admin-members-actions
    %a.pure-button{:href => "/branch/#{@branch.id}"}
      %i.fa.fa-chevron-left= ""
      Back to branch 

    %a.pure-button.button-primary{:href => "/branch/members/#{@branch.id}/text", :target => "_blank"}
      %i.fa.fa-file-text-o= ""
      List users as text

  - if @members.length > 0
    %ul.branch-admin-members-list
      - @members.each do |m|
        %li
          %strong= m[:user_name]

          .branch-admin-members-list-data
            %ul
              %li
                %strong Email address:
                %span= m[:user].email

              - if request.params.key?("showid")
                %li
                  %strong Identifiers:
                  %span
                    = "User ID #{m[:user].id}, Profile ID #{m[:profile].id}"

            .branch-admin-members-list-actions
              - if has_role?("branch:#{@branch.id}:attendance")
                %a.pure-button.button-primary{:href => "/branch/userattendance/#{@branch.id}/#{m[:user].id}"}
                  %i.fa.fa-check-square-o= ""
                  Attendance

              - if has_role?("admin:user_change")
                %a.pure-button{:href => "/admin/user/edit/#{m[:user].id}"}
                  %i.fa.fa-pencil= ""
                  Edit user (membership admin)

  - else
    %p
      There are no members in this branch.

%footer.body-footer
  .branch-admin-members-options
    %strong Options:

    %a{:href => "/branch/members/#{@branch.id}#{request.params.key?('showid') ? '' : '?showid'}"}
      = request.params.key?('showid') ? 'Hide' : 'Show'
      user ID numbers
