.branch-admin-user-attendance
  %h1
    Attendance for user
    = @user_name

  %a.pure-button{:href => "/branch/members/#{@branch.id}"}
    %i.fa.fa-chevron-left= ""
    Back to branch member list

  %ul.branch-admin-user-attendance-meeting-list
    - @attendance.each do |meeting|
      %li.branch-admin-user-attendance-meeting-entry
        .branch-admin-user-attendance-meeting-entry-title
          Meeting on
          %strong= meeting[:datetime].strftime("%A, %-d %B %Y at %I:%M %P")

        .branch-admin-user-attendance-meeting-entry-status
          Status:

          %strong
            - if meeting[:status] == :present
              Present
            - elsif meeting[:status] == :apologies
              Apologies sent
            - else
              Unknown

  .form-wrapped
    - prevpage = "/branch/userattendance/#{@branch.id}/#{@user.id}?page=#{@current_page - 1}"
    %a.pure-button{:href => @current_page > 1 ? prevpage : '#', :disabled => @current_page <= 1}
      %i.fa.fa-chevron-left= ""
      Previous page

    %span
      Page
      %strong= @current_page
      of
      %strong= @total_pages

    - nextpage = "/branch/userattendance/#{@branch.id}/#{@user.id}?page=#{@current_page + 1}"
    %a.pure-button{:href => @current_page < @total_pages ? nextpage : '#', :disabled => @current_page >= @total_pages}
      %i.fa.fa-chevron-right= ""
      Next page
