.pure-g
  .pure-u-1.pure-u-md-1-4 &nbsp;
  .pure-u-1.pure-u-md-1-2
    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => "/auth"}
      %h1 Log in
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

      %label{:for => "login-email"}=  t :email_address
      %input#login-email{:type => "email", :name => "email", :required => true, :placeholder => t(:email_address), :autofocus => true}

      %label{:for => "login-password"}= t :password
      %input#login-password{:type => "password", :name => "password", :required => true, :placeholder => t(:password)}

      %button.pure-button.pure-button-primary{:type => "submit"}= t :log_in
      %a.button.pure-button{:href => '/auth/signup'}= t :log_in_no_account_link

      %p{:style => 'text-align:center'}
        %a{:href => '/auth/reset', :style => 'color:inherit'}= t :forgot_password
