.pure-g
  .pure-u-1.pure-u-md-1-4
    &nbsp;

  .pure-u-1.pure-u-md-1-2
    .form-wrapped#login-two-factor
      %h1= t :two_factor_authentication

      - if @has_u2f
        %form#u2f-form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :style => "display:#{@has_u2f ? "block" : "none"}", :'data-u2f-type' => 'sign'}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => '2fa_type', :value => 'u2f'}
          %input{:type => 'hidden', :name => 'response', :value => ''}

          %div#u2f-data{:'data-appid' => JSON.generate(@u2f.app_id), :'data-sign-requests' => JSON.generate(@sign_requests), :'data-challenge' => JSON.generate(@challenge)}

          %p.spinner{:style => 'text-align:center;display:none'}
            %i.fa.fa-spinner.fa-2x.fa-pulse= ""

          %p.status
            Waiting. If you see this message for more than 10 seconds, please
            refresh the page.

          - if @has_totp
            %p{:style => 'text-align:center'}
              %a#switch-to-totp{:href => "#"}= t :two_factor_authentication_use_totp

      - if @has_totp
        %form#totp-form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :style => "display:#{@has_u2f ? "none" : "block"}"}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => '2fa_type', :value => 'totp'}

          %p= t :two_factor_authentication_enter_totp

          %label{:for => "code"} Verification code:
          %input{:type => "text", :name => "code", :id => "code", :placeholder => "123456", :autofocus => true}

          %button.pure-button.button-primary{:type => 'submit'}= t :log_in

          - if @has_u2f
            %p{:style => 'text-align:center'}
              %a#switch-to-u2f{:href => "#"}= t :two_factor_authentication_use_u2f
