.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    %form.pure-form.pure-form-stacked.form-wrapped{:action => '/user/membership/change-branch', :method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

      %h1 Change your branch affiliation

      - if @pending
        %p
          - d = JSON.parse(@pending.decrypt(:data))
          = "You have a pending request to change your branch from"
          = "#{d['from_branch']} to #{d['to_branch']}."

      - else
        - if @branch
          %p
            = "You are currently a member of the #{@branch.decrypt(:name)} branch."
        - else
          %p
            You are not currently a member of a branch.

        %p
          Please select a branch to change to from the list below.

        %label{:for => 'branch'} Branch to change to
        %select#branch{:name => 'branch'}
          - @branches.each do |b|
            - unless @branch && @branch.id == b[:id]
              %option{:value => b[:id]}= b[:name]

        %button.pure-button.pure-button-primary{:type => "submit"}
          Submit request to change branch

