.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    .form-wrapped
      %h1 Membership status

      %p
        - if @status == "member"
          = "You are currently a member of #{org_name}."
        - elsif @status == "supporter"
          = "You are currently a supporter of #{org_name}."
        - else
          = "Your membership status is unknown. This is an error, please contact your administrator."

      - if @pending_status
        %p
          - d = JSON.parse(@pending_status.decrypt(:data))
          = "You have a pending request to change your membership status from"
          = "#{d['from_status']} to #{d['to_status']}."

      - else
        %form{:method => 'POST'}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => 'toggle-status'}

          - if @status == "member"
            %p
              To request to change your membership status to supporter, click the button below.

          - else
            - if @kaupapa_prompt
              %p
                = @kaupapa_prompt

              %p
                %label{:for => 'kaupapa-agree'}
                  %input#kaupapa-agree{:type => 'checkbox', :name => 'kaupapa-agree', :required => true}
                  If you agree to the above, check this box.

          %button.pure-button.button-primary{:type => 'submit'}
            - newstatus = (@status == "member" ? "supporter" : "member")
            = "Request to change membership status to #{newstatus}"

    .form-wrapped
      %h1 Branch affiliation

      %p
        - if @branch
          = "You are a member of the #{@branch.decrypt(:name)} branch.".force_encoding("UTF-8")
        - else 
          You are not currently a member of a branch.

      - if @pending_branch
        %p
          - d = JSON.parse(@pending_branch.decrypt(:data))
          = "You have a pending request to change your branch from"
          = "#{d['from_branch']} to #{d['to_branch']}.".force_encoding("UTF-8")

      - else
        %p
          To request to change your branch, click the button below.

        %a.button.pure-button.button-primary{:href => '/user/membership/change-branch'}
          Request to change your branch

    = theme_page_footer :'user_settings/membership_status/index'
