.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Dismissed alerts (page #{@alerts[:alerts][:page]} of #{@alerts[:alerts][:total_pages]})

    = haml :'alerts/page'

    .form-wrapped
      - prevpage = "/system/alerts/page/#{@alerts[:alerts][:page] - 1}"
      %a.pure-button{:href => @alerts[:alerts][:page] > 1 ? prevpage : '#', :disabled => @alerts[:alerts][:page] <= 1}
        %i.fa.fa-chevron-left= ""
        Previous page

      %span
        Page
        %strong= @alerts[:alerts][:page]
        of
        %strong= @alerts[:alerts][:total_pages]

      - nextpage = "/system/alerts/page/#{@alerts[:alerts][:page] + 1}"
      %a.pure-button{:href => @alerts[:alerts][:page] < @alerts[:alerts][:total_pages] ? nextpage : '#', :disabled => @alerts[:alerts][:page] >= @alerts[:alerts][:total_pages]}
        %i.fa.fa-chevron-right= ""
        Next page
